@CHARSET "UTF-8";

html, body {background: transparent}

#selectedFiles
{
  width: 100%;
}

.hidden { display: none; }

a
{
    color: #0000ff;
}

#selectedFiles .yui-dt-bd td {cursor: default;}

.container {
    width: 100%;
    border-collapse:collapse;
    border-bottom: 1px solid #7F7F7F;
    border-right: 1px solid #7F7F7F;
    margin-top: 1em;
}
.container td {padding:0; width:50%; vertical-align: top; border-left: 1px solid #7F7F7F;}

/* .yui-skin-sam .yui-dt table { border-collapse: separate; } */

.yui-skin-sam .yui-dt table {border-bottom: none; border-left: none; border-right: none;}

.yui-skin-sam .container .yui-dt td,
.yui-skin-sam .container .yui-dt th
    {border-right-style: none;}    

#selectedFiles table, #infoPanel table {width:100%;}

#selectedFiles table {table-layout: fixed;}
#selectedFiles table td {overflow: hidden;}
#selectedFiles .yui-dt-liner {width: auto;}

.file-error td { background-color: #ffa2c5 }

#mainContainer,
#paginator
{
    margin: 1em;
}

#paginator { margin-left: 0; }

#panel { width: auto; }

.panel-inner-title {font-weight:bolder;}
.panel-inner-title-description {display:block;}
.panel-inner-block {padding-top: .5em}

#tableContainer {position: relative; top:0; left:0; zoom: 1;}
#tableContainer .buttons {position:absolute; left:50%; bottom:0; padding: 4px;}
#tableContainer input {width: 25em;}
#tableContainer button {width: auto;}
