div.linkNavigator {
	width: 436px;
	height: 185px;
	padding: 2px 2px;
	background-color: #FFFFFF;
	border: solid 1px black;
}

div.linkNavigator ul {
	list-style-type: none;
	margin: 0px 0px;
	padding: 0px 0px;
}

div.linkNavigator .deki-ui-highlight {
	background-color: #FFF799;
}
div.linkNavigator .row-highlight {
	background-color: #EEEEFF;
}

div.linkNavigator .yui-ac-hd {
	margin: 5px 3px;
}
div.linkNavigator .resultsHeader {
	padding-bottom: 5px;
	border-bottom: solid 1px #000000;
}

/* Default row styling */
div.linkNavigator div.row {
	position: relative;
	cursor: pointer;
	padding: 5px;
}

div.linkNavigator div.browse {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: transparent url(/skins/common/icons/icon-carousel.png) no-repeat 3px 5px;
}

div.linkNavigator div.row span.icon {
	float: left;
	margin-right: 10px;
	clear: both;
}
span.hint {
	display: none;
	font-size: 80%;
	color: #999;
}
div.linkNavigator li.row-highlight span.hint {
	display: block;
}

#columnav {
	background-color: #FFFFFF;
}

/* for the image viewer */
#imageView {
	height: 175px;
}

#linkBrowser {
	position: relative;
}
div.sidebuttons {
	position: absolute;
	left: -95px;
	top: 20px;
	width: 95px;
}
div.sidebuttons a {
}
div.sidebuttons a img {
	border: none;
	text-decoration: none;
	display: block;
	margin: 0px 0px 5px 65px;
}
div.sidebuttons a span {
	display: none;
}
div.linkRow,
div.linkLabel {
	zoom: 1; /* triggers hasLayout */
}

.inputWidth {
	width: 438px;
}

label.fileButton {
	position: absolute;
	top: 2px;
	right: -10px;
	width: 16px;
    height: 16px;
    background: url(/skins/common/icons/icons.gif) 0 0 no-repeat;
	background-position: 0px -2096px;

    display: none;
    overflow: hidden;
    cursor: pointer;
}
label.fileButton input {
    position: absolute;
	right: 0px;
	height: 100%;
	z-index: 100;

    opacity: 0;
    -moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter:alpha(opacity: 0);
	-khtml-opacity: 0;
}

div.carousel-loading {
	display: none;
	position: absolute;
	top: 55px;
	left: 290px;
}

.carousel-component ul.carousel-list li a.disabled {
	background-color: #FFF;
}
.carousel-component ul.carousel-list li a.disabled span {
	color: #999;
}

/* Icons */
.carousel-component ul.carousel-list li a span {
	background-image: url(/skins/common/icons/icons.gif) !important;
	background-repeat: no-repeat;
	background-position: 0px -1968px;
	line-height: 16px;
}

.carousel-component ul.carousel-list li a.page span {
	background-position: 0px -768px;
}

.carousel-component ul.carousel-list li a.text span {
	background-position: 0px -1856px;
}
.carousel-component ul.carousel-list li a.image span {
	background-position: 0px -1888px;
}
.carousel-component ul.carousel-list li a.application span {
	background-position: 0px -1040px;
}
/***
 * New, consistent styles
 */
.carousel-component ul.carousel-list li a.mt-ext-sh span 			{ background-position: 0px -1856px; }
.carousel-component ul.carousel-list li a.mt-ext-txt span 			{ background-position: 0px -1856px; }
.carousel-component ul.carousel-list li a.mt-ext-ppt span			{ background-position: 0px -1872px; }
.carousel-component ul.carousel-list li a.mt-ext-jpg span,
.carousel-component ul.carousel-list li a.mt-ext-jpeg span,
.carousel-component ul.carousel-list li a.mt-ext-jpe span,
.carousel-component ul.carousel-list li a.mt-ext-gif span,
.carousel-component ul.carousel-list li a.mt-ext-png span			{ background-position: 0px -1888px; }
.carousel-component ul.carousel-list li a.mt-ext-swf span,
.carousel-component ul.carousel-list li a.mt-ext-fla span			{ background-position: 0px -1904px; }
.carousel-component ul.carousel-list li a.mt-ext-xls span			{ background-position: 0px -1920px; }
.carousel-component ul.carousel-list li a.mt-ext-zip span			{ background-position: 0px -1936px; }
.carousel-component ul.carousel-list li a.mt-ext-pdf span			{ background-position: 0px -1952px; }
.carousel-component ul.carousel-list li a.mt-ext-unknown span		{ background-position: 0px -1968px; }
.carousel-component ul.carousel-list li a.mt-ext-tar span,
.carousel-component ul.carousel-list li a.mt-ext-rar span,
.carousel-component ul.carousel-list li a.mt-ext-gzip span		{ background-position: 0px -1984px; }
.carousel-component ul.carousel-list li a.mt-ext-doc span			{ background-position: 0px -2000px; }
.carousel-component ul.carousel-list li a.mt-ext-wmv span,
.carousel-component ul.carousel-list li a.mt-ext-avi span,
.carousel-component ul.carousel-list li a.mt-ext-mpg span,
.carousel-component ul.carousel-list li a.mt-ext-mov span,
.carousel-component ul.carousel-list li a.mt-ext-mp4 span,
.carousel-component ul.carousel-list li a.mt-ext-mpeg span		{ background-position: 0px -2032px; }
.carousel-component ul.carousel-list li a.mt-ext-html span,
.carousel-component ul.carousel-list li a.mt-ext-htm span,
.carousel-component ul.carousel-list li a.mt-ext-shtml span		{ background-position: 0px -2048px; }
.carousel-component ul.carousel-list li a.mt-ext-mp3 span			{ background-position: 0px -2064px; }
