/* ie6 specific hacks */
#columnav {
	overflow: hidden !important;
	height: 185px;
}
.carousel-component ul.carousel-list li div {
    height: 182px;
}
#imageView {
	height: 175px;
}
div.tabs ul {
	padding-bottom: 0px;
	margin-bottom: 0px;
}