/*
 * Core link dialog styles
 */
#linkdialog-loader {
	width: 99%;
	height: 200px;
	background: transparent url(/skins/common/images/anim-large-circle.gif) no-repeat center center;
}


/*
 * Link tab styles
 */
#link-tab a span {
	background: url(/skins/common/icons/search.png) no-repeat center left;
}

#link-content {
	margin-left: 100px;
}

#link-content label {
	display: block;
}

#link-content .yui-ac-input {
	width: 440px;
	padding: 2px 2px;
	border: solid 1px black;
}

#linktab-results .yui-ac-content {
	width: 440px;
	height: 175px;
	padding: 2px 2px;
	margin-top: 10px;
	background-color: #FFFFFF;
	border: solid 1px black;
}

#linktab-results .yui-ac-content .yui-ac-hd {
	margin: 5px 3px;
}
#linktab-results .yui-ac-content .yui-ac-hd .resultsHeader {
	padding-bottom: 5px;
	border-bottom: solid 1px #000000;
}

#linktab-results .yui-ac-content .yui-ac-highlight {
	background-color: #EEEEFF;
}
#linktab-results .yui-ac-content .search-highlight {
	background-color: #FFF799;
}

#linktab-results .yui-ac-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#linktab-results .yui-ac-content .row {
	height: 14px;
	position: relative;
	padding: 5px 5px 5px 30px;
	cursor: pointer;
}

#linktab-results .yui-ac-content .row span.icon {
	position: absolute;
	left: 3px;
	top: 3px;
}
#linktab-results .yui-ac-content .row div.browse {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: transparent url(/skins/common/icons/icon-carousel.png) no-repeat 3px 5px;
}



/*
 * Browse tab styles
 */
div.tabs ul li.browse a span {
	background: url(/skins/common/icons/browse.png) no-repeat center left;
}

#browse-content {
	position: relative;
	margin-left: 100px;
}
/* small box to display links in */
#browse-content label.link {
	display: block;
}
#browsetab-display {
	width: 440px;
	height: 15px;
	padding: 2px 2px;
	overflow: hidden;
	
	border: solid 1px #ccc;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	white-space: nowrap;
}


#browse-content div.actions {
	display: block;
	width: 220px;
	height: 20px;
	border: solid 1px black;
	border-bottom: none;
	background-color: #919191;
	margin-top: 10px;
}
#browse-content div.actions a {
	display: block;
	width: 200px;
	height: 20px;
	padding-left: 20px;
	color: #fff;
	font-weight: bold;

	background-image: url(/skins/common/icons/back_18.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
#browse-content div.actions a:hover {
	background-color: #000;
}


#browse-content label.navigate {
	display: none;
}

/*
 * Buttons
 */
#browsetab-buttons {
	width: 30px;
	position: absolute;
	top: 65px;
	left: -33px;
}
#browsetab-buttons ul li a {
	display: block;
	width: 26px;
	height: 32px;
}
#browsetab-buttons ul li span {
	display: none;

}
#browsetab-buttons ul li.current a {
	background: transparent url(/skins/common/images/nav-current-page.png) no-repeat;
}
#browsetab-buttons ul li.home a {
	background: transparent url(/skins/common/images/nav-home.png) no-repeat;
}
#browsetab-buttons ul li.user a {
	background: transparent url(/skins/common/images/nav-user.png) no-repeat;
}

#browsetab-loader {
	display: none;
	position: absolute;
	top: 125px;
	left: 295px;
	
	width: 66px;
	height: 66px;
	background: transparent url(/skins/common/images/anim-large-circle.gif) no-repeat top left;
}

/*
 * ColumNav
 * @see /skins/common/yui/columnav/css/deki.css
 */
#browsetab-browser {
	width: 440px;
	height: 180px;
	background-color: #fff;
	visibility: visible;
}

/*
 * Flickr tab styles
 */
div.tabs ul li.flickr a span {
	background: url(/skins/common/icons/ed_ins_img.gif) no-repeat center left;
}
#flickr-content {
	margin: 10px 0px 0px 50px;
	width: 500px;
}
#flickr-content label {
	font-weight: bold;
	padding-right: 10px;
}
#flickr-content .yui-ac-input {
	width: 285px;
}
#flickr-content .yui-ac-container p {
	padding: 5px 0px;
}
#flickr-content .yui-ac-bd ul {
	margin: 0 40px;
	width: 430px;
}
#flickr-content .yui-ac-bd ul li {
	float: left;
	padding: 5px 0 0 5px;
}
#flickr-content .yui-ac-flickrImg {
	width: 75px;
	height: 75px;
	border: solid 2px black;
}
#flickr-content .yui-ac-highlight .yui-ac-flickrImg {
	border: solid 2px #00CCFF;
}