/* Deki Wiki ColumNav Styles */

@import url("carousel.css");
@import url("columnav.css");

.carousel-component {
    border: 1px solid black;
}

.carousel-component ul.carousel-list li.columnav-menu {
    width: 220px;
}

.carousel-component ul.carousel-list li.columnav-menu div {
    height: 180px;
    overflow-y: scroll;
}
/* .columnav-multiple ul.carousel-list li.columnav-menu div { overflow-y: scroll; } */

.carousel-component ul.carousel-list li.columnav-menu a {
    color: black;
    cursor: default;
    font-family: 'Lucida Grande', Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 1px;
    padding: 2px;
    text-decoration: none;
}

.carousel-component ul.carousel-list li.columnav-menu a.columnav-has-next {
    background-image: url(../images/arrow-off.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.carousel-component ul.carousel-list li.columnav-menu a.columnav-active {
    background-color: #3875d7;
}

/* IE6 cannot grok element selectors with chained class names */
html>body .carousel-component ul.carousel-list li.columnav-menu a.columnav-has-next.columnav-active {
    background-image: url(../images/arrow-on.gif);
}

.carousel-component ul.carousel-list li.columnav-menu a.columnav-error span {
    background-image: url(../images/error.gif);
    color: red;
}

.carousel-component ul.carousel-list li.columnav-menu a span {
    background-image: url(../images/url-off.gif);
    background-repeat: no-repeat;
    background-position: 0px center;
    margin-right: 14px;
    padding-left: 20px;
	/* stops the title from wrapping */
	white-space: nowrap;
	overflow: hidden;
}

.carousel-component ul.carousel-list li.columnav-menu a.columnav-active span {
    background-image: url(../images/url-on.gif);
    color: white;
}

.carousel-component ul.carousel-list li.columnav-menu a.columnav-has-next span {
    background-image: url(../images/folder-off.gif);
}

/* IE6 cannot grok element selectors with chained class names */
html>body .carousel-component ul.carousel-list li.columnav-menu a.columnav-has-next.columnav-active span {
    background-image: url(../images/folder-on.gif);
}

.prevButton {
    width: 50px;
}

.prevButton a {
    border: 1px solid black;
    color: black;
    display: block;
    font-family: 'Lucida Grande', Helvetica, sans-serif;
    font-size: 10px;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.prevButton a:hover {
    background-color: #3875d7;
    color: white;
}

/* Icons! */
.carousel-component ul.carousel-list li.columnav-menu a span {
	background-image: url(/skins/common/icons/icons.gif) !important;
	background-repeat: no-repeat;
	background-position: 0px -1968px;
	line-height: 16px;
    margin-right: 14px;
    padding-left: 20px;
	/* stops the title from wrapping */
	white-space: nowrap;
	overflow: hidden;
}

/* special list item for deki related json */
.carousel-component ul.carousel-list li a.hidden {
	
}

.carousel-component ul.carousel-list li a.page span {
	background-position: 0px -768px;
}
.carousel-component ul.carousel-list li a.text span {
	background-position: 0px -1856px;
}
.carousel-component ul.carousel-list li a.image span {
	background-position: 0px -1888px;
}
.carousel-component ul.carousel-list li a.application span {
	background-position: 0px -1040px;
}

/***
 * New, consistent styles
 */
 .carousel-component ul.carousel-list li a.mt-ext-js span,
.carousel-component ul.carousel-list li a.mt-ext-sh span,
.carousel-component ul.carousel-list li a.mt-ext-txt span 			{ background-position: 0px -1856px; }
.carousel-component ul.carousel-list li a.mt-ext-ppt span			{ background-position: 0px -1872px; }
.carousel-component ul.carousel-list li a.mt-ext-jpg span,
.carousel-component ul.carousel-list li a.mt-ext-jpeg span,
.carousel-component ul.carousel-list li a.mt-ext-jpe span,
.carousel-component ul.carousel-list li a.mt-ext-gif span,
.carousel-component ul.carousel-list li a.mt-ext-tiff span,
.carousel-component ul.carousel-list li a.mt-ext-png span			{ background-position: 0px -1888px; }
.carousel-component ul.carousel-list li a.mt-ext-swf span,
.carousel-component ul.carousel-list li a.mt-ext-fla span			{ background-position: 0px -1904px; }
.carousel-component ul.carousel-list li a.mt-ext-xls span			{ background-position: 0px -1920px; }
.carousel-component ul.carousel-list li a.mt-ext-zip span			{ background-position: 0px -1936px; }
.carousel-component ul.carousel-list li a.mt-ext-pdf span			{ background-position: 0px -1952px; }
.carousel-component ul.carousel-list li a.mt-ext-unknown span		{ background-position: 0px -1968px; }
.carousel-component ul.carousel-list li a.mt-ext-tar span,
.carousel-component ul.carousel-list li a.mt-ext-rar span,
.carousel-component ul.carousel-list li a.mt-ext-gzip span			{ background-position: 0px -1984px; }
.carousel-component ul.carousel-list li a.mt-ext-doc span			{ background-position: 0px -2000px; }
.carousel-component ul.carousel-list li a.mt-ext-wmv span,
.carousel-component ul.carousel-list li a.mt-ext-avi span,
.carousel-component ul.carousel-list li a.mt-ext-mpg span,
.carousel-component ul.carousel-list li a.mt-ext-mov span,
.carousel-component ul.carousel-list li a.mt-ext-mp4 span,
.carousel-component ul.carousel-list li a.mt-ext-mpeg span			{ background-position: 0px -2032px; }
.carousel-component ul.carousel-list li a.mt-ext-html span,
.carousel-component ul.carousel-list li a.mt-ext-htm span,
.carousel-component ul.carousel-list li a.mt-ext-shtml span			{ background-position: 0px -2048px; }
.carousel-component ul.carousel-list li a.mt-ext-mp3 span			{ background-position: 0px -2064px; }
/**/