/*Structure*/
body {
	background:#e2eaf4;
}
.content {
	width:980px;
	margin:0 auto;
	padding:10px;
	background:#fff;
	-moz-border-radius:3px;
	border:1px solid #ccddef;
	overflow:hidden;
}
#pageText {
	padding:0 0 20px 0;
	clear:right;
}
.fr {
	float:right;	
}
/*Head - Logo*/
.head {
	width:980px;
	margin:0 auto;	
	padding:0;
	overflow:hidden;
}
.head .logo {
	float:left;
	font-size:0;
	margin:0;
	cursor:pointer;
	background-repeat:no-repeat;
}
.head .logo a {
	display:block;	
}
/* -- user login*/
.login .login-links {
	float:right;
	display:block;
	margin:50px 0 0 0;
}
.login .login-links a {
	padding-left:8px;
	float:right;
	margin:0 0 0 20px;
	text-transform:lowercase;
	display:block;
	background-image:url(images/icon-bullet-blue.gif);
	background-repeat:no-repeat;
	background-position:left center;
}
.login form {
	float:right;
	display:none;
	margin-top:30px;
}
.login form input {
	width:80px;
	padding:3px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
}
.login form .col {
	float:left;
	margin:0 10px 0 0;	
}
.login form .title {
	display:block;
	font-size:10px;
	color:#666;	
}
.login form input.btn {
	width:auto;	
}
/*Foot*/
.foot {
	width:800px;
	margin:0 auto;
	text-align:center;
	padding:10px 0;
	font-size:11px;
}
.foot span,
.foot a {
	padding:0 10px;
	text-decoration:none;
}
/*Columns*/
.col-wrap {
	margin:0;
	padding:0;	
	border:0;
	width:100%;
}
.col {
	margin:0;
	padding:0;
	vertical-align:top;
}
.wrap {
	border:1px solid #efefef;
	-moz-border-radius:3px;
	padding:10px;	
}
/*Main Column*/
.page .wrap  {
	border:0;
	padding-top:0;
}
/*Highlight*/
.highlight h3 {
	font-size:18px;	
}
.highlight {
	width:200px;	
}
.highlight .wrap  {
	background:#f9f9f9;
	margin:0;
}
/*Top Navigation*/
.nav {
	background-image:url(images/nav-bg.gif);
	background-repeat:repeat-x;
	background-position:0 0;
	padding:0 10px;
	height:30px;
	margin:0 0 10px 0;
	-moz-border-radius:3px;
}
.nav li {
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
	border-left:1px solid #8d8e90;
	overflow:visible;
	height:30px;
}
.nav .last {
	border-right:1px solid #8d8e90;	
}
.nav li span,
.nav li a {
	display:block;
	background-image:url(images/nav-bg.gif);
	background-repeat:repeat-x;
	color:#fff;
	text-decoration:none;
	padding:8px 20px 0 20px;
	height:25px;
	font-size:11px;
	text-align:center;
}
.nav li span:hover,
.nav li a:hover {
	background-position:0 -33px;
	color:#fff;
	cursor:pointer;
	text-transform:none;
}
/*Dropdowns*/
.dropdown {
	position:absolute;
	padding:3px;
	border-top:0;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	background:#4b4b4b;
	min-width:150px;
	display:none;
	z-index:10;
	margin:3px 0 0 0;
}
.dropdown li {
	float:none;
	border:0;
	border-bottom:1px solid #595a5b;
	height:auto;
	list-style-type:none;
	font-size:11px;
}
.dropdown li span {
	display:none !important;	
}
.dropdown li a {
	background-image:none;
	text-align:left;
	padding:5px 5px;
	height:auto;
	display:block;
	color:#fff;
}
.dropdown li a:hover {
	color:#33afcf;
	text-decoration:none;
	background-color:#383838 !important;
	-moz-border-radius:0 !important;
}
/*Home Page*/
.splash {
	height:18px;
	padding:42px 0 0 0;
	width:980px;
	background-image:url(images/splash-small.gif);
	display:block;
	vertical-align:bottom;
	margin:0 0 10px 0;
}
.splash h1 {
	border:0;
	color:#c9ebf3;
	font-size:25px;
	padding:0 0 0 20px;
	margin:0 5px 0 5px;
}
/*TITLE AND HEADER*/
.header-sub {
	color:#ccc;
	padding-left:10px;
}
.page-restricted {
	padding-left:20px;
	background:left center url(images/icon-key.gif) no-repeat;
}
/*Powered By*/
.powered-by {
	text-align:center;
	font-size:10px;	
}
/*SUCCESS / ERROR MESSAGE*/
.upgrade,
.successmsg,
.errormsg,
.systemmsg,
.contentUndelete {
	border:1px solid #f8f0a9;	
	padding:5px;
	background-color:#fefbe1;
	margin:5px 0;
}
/*PAGINATION*/
.deki-pagination {
	padding:5px 0;
	overflow:hidden;
}
.deki-pagination div {
	padding:0;
	margin:0;
	float:left;
	color:#999;
	font-size:11px;
}
.deki-pagination div.prev {
	width:20%;
}
.deki-pagination div.info {
	width:60%;
	text-align:center;
}
.deki-pagination .next {
	width:20%;
	text-align:right;
}
/*SEARCH PAGE*/
.site-search {
	width:190px;
	padding:5px 5px 0 0;	
}
.site-search select,
.site-search .text {
	width:110px;
	font-size:11px;
	padding:3px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	margin:0 0 2px 0;
}
.site-search select {
	margin:0;	
}
.site-search .button {
	font-size:11px;
}

/*SEARCH RESULTS*/
#searchResults {
	margin:10px 0;	
}
#searchResults .searchResults {
	margin:0 0 20px 0;
	font-weight:bold;	
}
#searchResults ul {
	margin:0;
	padding:0;
}
#searchResults li {
	margin:10px 0 ;	
	list-style-type:none;
	border-top:1px dotted #ccc;
	padding:5px 0;
}
#searchResults .icon {
	vertical-align:bottom;	
}
#searchResults li a {
	font-weight:bold;	
}
.deki-parsed-query {
	padding:5px;
	background:#f5f5f5;	
	border:1px solid #efefef;
	-moz-border-radius:3px;
}
/*Site Navigation*/
#siteNavTree {
	margin:20px 0 0 0;	
}
#siteNavTree div.parentOpen a span {
	background-image:url(images/icon-bullet-blue-down.gif);
}
#siteNavTree div.parentClosed a span {
	background-image:url(images/icon-bullet-blue.gif);	
}
#siteNavTree a {
	width:auto !important;	
	font-size:12px;
	display:block !important;
	color:#333;
}
/* -- search*/
.site-search {
	padding:0 5px;	
	margin:10px 0 0 0;
}
.site-search select,
.site-search .text {
	width:100px;
	font-size:11px;
	padding:5px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	margin:0 0 5px 0;
}
.site-search .button {
	font-size:11px;
}
/*Page Alerts*/
#deki-page-alerts div.toggle span {
	display:none;	
}
#deki-page-alerts div.toggle a {
	display:block;
	padding:5px;
	background-position:center center !important;	
}
/* -- comments*/
.commentMore {
	margin:0 0 10px 0;	
}
.commentSubmit {
	margin:5px 0 0 0 !important;	
}
.commentNum {
	float:left;	
	font-weight:bold;
	padding:3px;
	background:#e2eaf4;
	display:block;
	-moz-border-radius:3px;
}
.commentNum a {
	color:#333;	
}
.commentMetaData {
	font-weight:bold;	
}
.comment {
	margin:5px 0;
	padding:10px 5px;
	border-top:1px dotted #efefef;
}
.comments .commentText {
	margin:0 0 0 30px;
}
.comments textarea {
	margin:0 !important;	
}
.commentActions {
	float:right;	
}
.commentActions a {
	float:left;	
}
textarea.commentText {
	width:97%;
	height:80px;
	padding:5px;	
}

form.commentDelete {
	float:left;
	margin-left:10px;
}
/* -- breadcrumbs*/
.dw-hierarchy {
	opacity:.7;
	margin:10px 0 10px 0;
	padding:5px;
	display:block;
	background:#efefef;
	border:1px solid #ccc;
	-moz-border-radius:3px;	
	clear:both;
}
/* -- page tools (edit, new, email, print, page alerts)*/
.page-tools {
	overflow:hidden;
	float:right;
	width:auto;
	margin:0;
	-moz-border-radius:5px;
	padding:3px;
	background-image:url(images/tools-bar.gif);
	-moz-box-shadow:2px 2px 2px #AAAAAA;
}
#deki-page-alerts div.toggle,
.page-tools .box {
	float:right;
	margin:0 2px;
	-moz-border-radius:5px;
}
#deki-page-alerts div.toggle a,
.quick-more span,
.quick-pdf a,
.quick-print a,
.quick-email a,
.quick-add a,
.quick-edit a {
	display:block;
	font-size:0px;
	color:#575757;
	height:16px;
	width:16px;
	padding:5px;
	background-repeat:no-repeat;
	background-position:center center;
}
#deki-page-alerts div.toggle:hover,
.quick-more span:hover, 
.page-tools .box a:hover {
	background-color:#707173;
	cursor:pointer;
	-moz-border-radius:5px;
}
.quick-more span {
	background-image:url(images/icon_more.gif);	
}
.quick-pdf a {
	background-image:url(images/icon-print-pdf.gif);			
}
.quick-print a {
	background-image:url(images/icon-print.gif);			
}
.quick-email a {
	background-image:url(images/icon-email.gif);		
}
.quick-add a {
	background-image:url(images/icon-add-page.gif);	
	background-position:5px center;
	font-size:10px;
	width:auto;
	line-height:16px;
	padding-left:24px;
	color:#fff;
}
.quick-edit a {
	background-image:url(images/icon-edit-page.gif);
	background-position:5px center;
	font-size:10px;
	width:auto;
	line-height:16px;
	padding-left:24px;
	color:#fff;
}
.quick-add a:hover,
.quick-edit a:hover {
	color:#fff;
	text-decoration:none;	
}
.quick-attach {
	float:right;
	padding:30px 0 0 0;	
}
/* -- Page Alerts*/
#deki-page-alerts div.toggle a.off {
	background-image:url(images/icon-alert-off.gif);	
}
#deki-page-alerts div.toggle a {
	background-image:url(images/icon-alert-on.gif);	
}
#deki-page-alerts div.toggle {
	padding:0;
	border:0;
	background:none;	
}
#deki-page-alerts form {
	font-size:11px;
	padding:3px;
	-moz-border-radius:3px;	
	margin-top:30px;
}
/*DMENU*/
.deki-file-menu li a {
	padding:5px;
	display:block;
}
.deki-file-menu li a:hover {
	text-decoration:none;
	background:#efefef;	
}
.deki-file-menu li a .icon {
	margin-right:5px;	
	vertical-align:middle;
}
/*SUBNAV*/
.deki-page-subnav {
	background:#efefef;
	padding:5px;
	-moz-border-radius:3px;
	margin:5px 0 5px 0;	
	overflow:hidden;
}
.deki-page-subnav ul,
.deki-page-subnav ul li {
	display:inline;
	padding:0;
}
.deki-user-autocomplete {
	background:#efefef;
	border:0;
	-moz-border-radius:5px;	
	padding:5px;
}
.deki-user-autocomplete table,  
.deki-user-autocomplete table td {
	border:0;
}
.deki-rclanguages {
	float:right;	
}
.deki-rc-feeds {
	float:none;
	padding:3px;	
}
.deki-feedlist a {
	margin-left:10px;	
}

/*IE6 CSS*/

/*Structure*/
* html body {
	text-align:center;	
}
* html body .head,
* html body .content {
	text-align:left;
}
* html body .content {
	width:980px;
}
/* -- top navigation*/
* html body .nav li a {
	height:30px;	
}
/* -- structure*/
* html body .splash {
	overflow:hidden;
}
* html body .register {
	width:200px;	
}
* html body .head {
	overflow:visible;
}
* html body .commentActions {
	width:200px;	
}
* html body .nav {
	overflow:visible;	
}

* html body .nav li span,
* html body .nav li a {
	width:100px;
	color:#fff;
	height:25px;
	padding-top:5px;
}
* html body .dropdown a {
	width:130px !important;
	display:block;	
}
* html body .page-tools {
	width:180px;	
}
* html body #deki-page-alerts {
	width:20px;
}
* html body #deki-page-alerts .legend {
	width:250px;
}