.mt2010-header {
	width: 735px;
	height: 140px; 
	margin: 0 auto; 
	background: url(/skins/common/2010/header.png) no-repeat;
	margin-bottom: 20px;
}
.mt2010-title {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 35px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 20px;
	padding-top: 10px;
	text-transform: uppercase;
}
.mt2010-tagline {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	height: 70px;
	line-height: 33px;
	margin-bottom: 6px;
	margin-top: 0px;
	overflow: hidden;
	padding-left: 20px;
	text-transform: uppercase;
	width: 510px;
}

.mt2010-sidebar {
	width: 250px; 
	float: right; 
	padding: 8px; 
	background-color: #efefef; 
	border: 1px solid #ccc; 
	margin: 0 0 0 20px;
}

.mt2010-sidebar strong.subtitle {
	font-size: 14px;
}
.mt2010-sidebar .launch {
	text-align: center;
}
#topic .mt2010-sidebar .launch a.external {
	background: url(/skins/common/2010/bg.png) repeat-x scroll center top #921B1D;
	color: #fff;
	display: block;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 8px;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
}
.mt2010-sidebar .more {
	text-align: center;
	font-size: 11px;
}
.mt2010-lede {
	font-size: 14px; 
	line-height: 21px; 
	font-style: italic; 
	font-family: Arial;
}
.mt2010-learn {
	margin-top: 16px;
	background: #fefeeb; 
	padding: 8px; 
	border: 1px solid #e1e1e1; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px;
}
.mt2010-learn h3 {
	border-top: none; 
	margin-top: 0px;
}
#topic .mt2010-learn a.external {
	background: none; 
}

/* updated styles */
#is-1 {
	width: 735px;
	height:140px;
	margin: 0 auto;
	background: url(header-cloud.png) no-repeat;
}
#is-2 {
	color: white;font-family:
	BitstreamVeraSansRoman, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 35px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 20px;
	padding-top: 10px;
	text-transform: uppercase;
}
#is-3 {
	color: white;
	font-family: BitstreamVeraSansRoman, Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	height: 70px;
	line-height: 33px;
	margin-bottom: 6px;
	margin-top: 0px;
	overflow: hidden;
	padding-left: 20px;
	text-transform: uppercase;
	width: 510px;
}
#is-4 {
	width:250px;
	float:right;
	padding:5px 8px;
	background-color:#efefef;
	border:1px solid #ccc;
	margin: 20px 0 0 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#is-4 #is-5 {
	background:url(bkg-left-cta.png) repeat-x scroll center top #921B1D;
	color:#FFFFFF;
	display:block;
	font-size:11px;
	font-weight:bold;
	margin-bottom:8px;
	padding:5px 0;
	text-align:center;
	text-decoration:none;
}
#is-6 {
	margin: -4px 5px 0px 0px;
	display: inline-block;
	float: left;
}
#is-7 {
	background: #fefeeb;
	padding: 3px 8px 8px 8px;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin: 15px 0px;
}
#is-8 {
	border-top: none;
	margin-top: 0px;
}
#is-9 {
	background: #fefeeb;
	padding: 3px 8px 8px 10px;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
#is-10 {
	color: rgb(0, 0, 0);
	line-height: 16px;
	font-size: 16px;
	font-weight: bold; 
}
#is-11 {
	background: #fefeeb;
	padding: 3px 8px 8px 10px;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin-top: 8px
}
#is-12 {
	border-top: none;
	margin-top: 0px;
}
#is-13 {
	border-top: none;
	margin-top: 0px;
}
#is-14 {
	margin: -4px 5px 0px 0px;
	display: inline-block;
	float: left;
}