/*
--Table Of Contents

1.0 - Skinning Variables

2.0 - HTML elements

3.0 - Fiesta Global Elements
	
4.0 - Fiesta Unique Elements
	4.1 - Header
		4.1.1 - Common 
		4.1.2 - Mast
		4.1.3 - SiteNav
	4.2 - Body
		4.2.1 - Common 
		4.2.2 - SiteNav
		4.2.3 - PageBar
		4.2.4 - PageInfo
			4.2.4.1 - Tags
			4.2.4.2 - Languages
			4.2.4.3 - File Attachments
			4.2.4.4 - Images
			4.2.4.5 - Comments
			
		4.2.5 - Dropdown Menus
		4.2.6 - Special
		4.2.7 - Admin
		
5.0 - Internet Explorer 6 CSS

6.0 - Fiesta PRO CSS
	6.1 - Fiesta Global Elements
	
	6.2 - Fiesta Unique Elements
		6.2.1 - Header
			6.2.1.1 - Common 
			6.2.1.2 - Mast
			6.2.1.3 - SiteNav
			
		6.2.1 - Body
			6.3.2.1 - Common 
			6.3.2.2 - SiteNav
			6.3.2.3 - PageBar
			6.3.2.4 - PageInfo
			6.3.2.5 - Dropdown Menus
			6.3.2.6 - Special
			6.3.2.7 - Admin
			
	6.3 - IE 6 Fiesta Pro Styles
		6.3.1 - Fiesta Global Elements
		
		6.3.2 - Fiesta Unique Elements
			6.3.2.1 - Header
			6.3.2.2 - Body
	
*/


/*-------------------------------------------------------------------
1.0 Skinning Variables
---------------------------------------------------------------------*/
@variables {  
    tabletop_border: 1px dotted #b8d6de;  
	
    linkcolor: #000fff;
    linkcolor_hover: #ef9c1e;  
    
	button_color: #333333;
	buttonhover_color: #ffffff;
	
	sitenavhome_color: #333;
	sitenavhomehover_color: #ef9c1e;
	
	sitenav_color: #666;
	sitenavhover_color: #000;
	
	sitenavselected_color: #000;
	
	pagerevision_color: #000; 
	pagerevisionlink_color: #000; 
	
	dropmenu_border: 1px solid #bbc7cf;
	dropmenu_bgimage: none;
	dropmenu_bg: #e4ebee;
	dropmenuhover_bg:#f6fafc;
	
	pageinfoheader_color: #333333;
	
	pagebar_color: #666666;
	pagebarhover_color: #666666;
	pagebarhover_bg: #b7c6ce;
	pagebardisabled_color: #a0a0a0;
	
	specialh2_color: #789bbd;
	specialfieldset_border: 1px solid #b8d6de;
	
	table_bg1: ;
	table_bg2: #f1f7f9;
	tableth_border: 1px solid #77a0ab;
} 

/*-------------------------------------------------------------------
2.0 HTML elements
---------------------------------------------------------------------*/
a {
	color: var(linkcolor);
}

a:hover {
	color: var(linkcolor_hover);
}

body {
	background-image: url(body_bg.gif);
	background-attachment: ;
	background-position: top center;
	background-repeat: repeat-x;
	background-color: #e6f1c3;
}

/*-------------------------------------------------------------------
3.0 Fiesta Global Elements
---------------------------------------------------------------------*/
.global {
	background-attachment: ;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(global_bg.gif); 	
}
.body {
	margin-left:10px;
}	
.page {
	background-color: #fff;	
}
table.table tr th,
.table table tr th,
.atable table th {
	color:#333;
	border:0px;
	background-image: url(admin_th_bg.gif);
	background-color: var(table_th);
}
table.table tr.bg1 td,
.table table tr td.bg1,
.atable table td.bg1 {
	background: var(table_bg1);
}
table.table tr.bg2 td,
.table table tr td.bg2,
.atable table td.bg2 {
	background: var(table_bg2);
}
button,
input.historysubmit,
input[type=submit],
input[type=button],
input[type=file] {
	color: var(button_color);
}
.userAuth a.userLogout,
.userAuth a.userLogin,
.file div.fileAdd a,
.userRegister a,
#comments div.comments div.comment form a {
	color: var(button_color);
}
button:hover,
input.historysubmit:hover,
input[type=submit]:hover,
input[type=button]:hover {
	color: var(buttonhover_color);	
}
.userAuth a.userLogout:hover,
.userAuth a.userLogin:hover,
.file div.fileAdd a:hover,
.userRegister a:hover,
#comments div.comments div.comment form a:hover {
	color: var(buttonhover_color);
}
/*-------------------------------------------------------------------
4.0 Fiesta Unique Elements
---------------------------------------------------------------------*/

/*---- 4.1  Header*/

/*---- ---- 4.1.1  Common*/

/*---- ---- 4.1.2  Mast*/

/*---- ---- 4.1.3  SiteNav*/

.header .siteNav .userAuth a.userPage:hover {
	color: var(linkcolor_hover);
}
#siteNavTree a {
	color: var(sitenav_color);
}
#siteNavTree a:hover {
	color: var(sitenavhover_color);
}
#siteNavTree div.selectedChild a:hover {
	color: var(sitenavhover_color);
}
#siteNavTree div.dockedNode a {
	color: var(sitenavhome_color);
}
#siteNavTree div.dockedNode:hover a {
	color: var(sitenavhover_color);
}
#siteNavTree div.homeNode a:hover {
	color: var(sitenavhomehover_color);
}
#siteNavTree div.selected a {
	color: var(sitenavselected_color);	
}
#siteNavTree div.homeSelected {
	background-image:none;	
}

/*----4.2  Body*/

/*---- ---- 4.2.1  Common*/

/*---- ---- 4.2.2  SiteNav*/

.body div.siteNav div.pre {
	background-image:none;	
}
.body .siteNav ul li a {
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;	
	height:22px;	
}
/*---- ---- 4.2.3  PageBar*/

.body .pageBar .pre {
	background-image: none;	
}

.pageBar ul li a:hover {
	background-color: var(pagebarhover_bg);
	color: var(pagebarhover_color);
}

.pageBar ul li a.disabled,
.pageBar ul li a.disabled:hover {
	color: var(pagebardisabled_color);
}

.body .pageBar .pageRevision {
	color: var(pagerevision_color);	
	background-image: url(page_revision_bg.gif);
	width:200px;
	padding-left:50px;
}

.pageRevision a {
	color: var(pagerevisionlink_color);
	text-decoration:underline;
}

.pageRevision a:hover {
	text-decoration:none;
}

.pageBar ul li a {
	color: var(pagebar_color);
}

.body .pageBar ul li.pageMore a {
	background-image: url(../drop_white.gif);
}

.body .pageBar ul li.pageMore a:hover {
	background-image: url(../drop_grey.gif);
}
/*---- ---- 4.2.4  PageInfo*/

.pageInfo dt.pageTags,
.file h2,
.gallery h2,
#comments h2,
.commentMore,
#comments .commentForm .commentHeader,
.pageInfo dd.pageTags div.relatedpages strong {
	color: var(pageinfoheader_color);
}
/*---- ---- ---- 4.2.4.1  Tags*/

/*---- ---- ---- 4.2.4.2  Languages*/

/*---- ---- ---- 4.2.4.3  File Attachments*/
#pageGallery div.preControls,
.file table tr td,
.pageInfo dd.pageTags div.relatedpages {
	border-top: var(tabletop_border);
}

.file table tr th {
	color:#fff;
}

/*---- ---- ---- 4.2.4.4  Images*/
#pageGallery div.galleryCell img.image {
	border:1px solid #666;
}

#pageGallery div.galleryCell div.desctext span.desctext {
	color:#666;
}

.nodescription {
	color:#999;
}


/*---- ---- ---- 4.2.4.5  Comments*/
#comments div.comments div.comment {
	border-top:var(tabletop_border);
}

#comments div.comments div.comment div.commentNum {
	background-color: var(table_bg2);
	border: var(specialfieldset_border);
}

#comments div.comments div.comment div.commentNum a {
	color:#333;
}

#comments .commentActions input.commentDelete {
	color: var(linkcolor);
}

#comments .commentActions input.commentDelete:hover {
	color: var(linkcolor_hover);
}

/*---- ---- 4.2.5  Dropdown Menus*/

#menuPageContent .pageToc,
#menuPageOptions,
#menuFiller div.dmenu,
#menuTools {
	border:var(dropmenu_border);
	background:var(dropmenu_bg);
	background-image: none;
	border-top:0px;
}

#menuPageOptions ul li a,
#menuFiller ul li a,
#menuTools ul li a {
	color:#333;
	font-size:11px;
}

#menuPageOptions ul li a.disabled,
#menuFiller ul li a.disabled,
#menuTools ul li a.disabled {
	color:#999;	
}

#menuPageOptions ul li:hover,
#menuFiller ul li:hover,
#menuTools ul li:hover {
	background-image: none;
	background-color: var(dropmenuhover_bg);
}

#menuFiller .dmenu-wrap {
	background:#e4ebee;	
}

#menuFiller div.dmenu ul li a {
	font-size:11px;	
}


/*---- ---- 4.2.6  Special*/

#pagehistory tr td {
	border-top:var(tabletop_border);
}

#pageText #pageTypeSpecial h2,
#pageText #pageTypeSpecial div#logindivid fieldset legend {
	color: var(specialh2_color);	
}

#pageTypeSpecial div.searchPagination {
	border-top:var(tabletop_border);
	color:#666;
}

#pageTypeSpecial div#searchResults ul li{
	border-top: var(tabletop_border);
}

/*---- ---- 4.2.7  Admin*/

#pageText #pageTypeAdmin fieldset legend,
#pageText #pageTypeAdmin h2 {
	color: var(specialh2_color);	
}

#pageTypeAdmin fieldset {
	border: var(specialfieldset_border);
}

/*-------------------------------------------------------------------
5.0 Internet Explorer 6 CSS
---------------------------------------------------------------------*/






/*-------------------------------------------------------------------
6.0 Fiesta PRO CSS
---------------------------------------------------------------------*/

/*---- 6.1  Fiesta Global Elements*/

.header {
	width:190px;
}

.global {
	background-image: url(global_bg.gif); 
	padding-top:0px;
}

.globalWrap {
	background-image: url(global_wrap_bg.gif);
	background-repeat: repeat-y;
}


.page {
	background-color: #fff;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
}

.pageContentFrame {
	padding:10px;	
}

.MindTouch {
	width:100%;
	text-align:center;
	padding-right:0px;
	margin-right:0px;
	height:25px;
	background-color:#cedd9d;
	color:#333;
	padding-top:10px;
}

.MindTouch a {
	color:#333;	
}

.MindTouch div.poweredBy {
	color:#333;	
}

/*---- 6.2  Fiesta Unique Elements*/

/*---- ---- 6.2.1  Header*/

/*---- ---- ---- 6.2.1.1  Common*/

.header .mast {
	background-image:url(mast_bg.gif);
	height:60px;
	overflow:hidden;
	/*border-bottom:1px solid #fff;*/
	background-color:#A9BAC2;
	background-repeat:repeat-x;
}

.mastPre,
.userAuthPre,
.navPre,
.mastPost,
.userAuthPost,
.navPost {
	display:none;
	background-image:none;
}

/*---- ---- ---- 6.2.1.2  Mast*/

/*---- ---- ---- 6.2.1.3  SiteNav*/
.header div.siteNav {
	background-repeat: repeat-x;
	width:190px;
}
body#loggedin .header .userAuth,
.header .siteNav .userAuth {
	background-color:#fff;
	background-image: url(userauth_bg.gif);
	padding-top:5px;
	background-repeat:repeat-x;
	background-color:#e9eff1;
	height:55px;
}
.header .siteNav .userAuth a.userPage {
	color:#545E65;
	background-image: none;
	background-position:10px 1px;
	background-repeat: no-repeat;
	height:30px;
	min-height:30px;
	font-size:13px;
	font-weight:bold;
	/*Fiesta Pro-BlackPear only  */
	padding-left:65px;
	padding-top:2px;
	min-height:25px;
	height:25px;
}
.header .siteNav .userAuth a.userPage:hover {
	color:#000;
}

.header .userAuth a.userLogout,
.header .userAuth a.userLogin {
	background-image: url(buttons.png);
	background-position: -180px 0px;
}
.header .userRegister  {
	background: transparent;
	position:relative;
	margin-top:-25px;
	min-height:25px;
}

.header .userRegister a {
	background-image: url(buttons.png);
	background-position: -180px;
	background-repeat:no-repeat;
}

/*---- ---- 6.2.2  Body*/

/*---- ---- ---- 6.2.2.1  Common*/

.body .bodyHeader,
.body .bodyFooter {
	display:none;
}
.body .bodyHeader .pre {
	background-image:none;	
}

/*---- ---- ---- 6.2.2.2  SiteNav*/

.body .siteNav .siteSearch {
	height:35px;
	padding-top:25px;
	background-image: url(search_bg.png);	
}

.body .siteSearch input.inputSubmit {
	background-color: #c5d394;	
}

.body div.siteNav {
	background-image: url(sitenav_bg.gif);
	padding-top:0px;
	background-repeat: repeat-x;
	background-color:#a9bac2;
	/*border-bottom:1px solid #fff;*/
	margin-bottom:0px;
	height:60px;	
}

.body div.siteNav ul {
	overflow:visible;
	margin-top:32px;
	margin-left:10px;
}
.body div.siteNav a {
	color:#fff;
	font-size:12px;
	border-top: 0px;
	border-bottom: 0px;
	margin-left:5px;
	margin-right:5px;
	height:100%;
}

.body div.siteNav a:hover {
	background-color:#a6b76a;
	border-right:0px;
	border-left:0px;
	margin-left:5px;
	margin-right:5px;
	color:#fff;
}


.body div.siteNav li.siteTools a {
	background-image: url(../drop_white.gif);
	background-repeat:no-repeat;
	background-position: right 12px;
	padding-right:20px;
}

.body div.siteNav li.siteTools a:hover {
	background-image: url(../drop_white.gif);
}

.body .pageBar ul li a {
	font-size:11px;
}

.body .pageBar ul li.pageMore a {
	background-image: url(../drop_grey.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	height:14px;
}

.body .pageBar ul li.pageMore a:hover {
	background-image: url(../drop_grey.gif);
}


/*---- ---- ---- 6.2.2.3  PageBar*/

/*---- ---- ---- 6.2.2.4  PageInfo*/

/*---- ---- ---- 6.2.2.5  Dropdown Menus*/

/*---- ---- ---- 6.2.2.6  Special*/

/*---- ---- ---- 6.2.2.7  Admin*/

* html body.page-admin .body .pageBar,
* html body.page-admin .body div.siteNav {
	width:1010px;
}

/*---- 6.3  IE 6 Fiesta Pro Styles*/

/*---- ---- 6.3.1  Fiesta Global Elements*/

* html body .globalWrap {
	padding-bottom:0px;
	height:100%;
}
* html body .pageContentFrame {
	width:810px;
}
* html body .MindTouch {
	width:1020px !important;
}

* html body.page-admin .MindTouch {
	width:1210px;
}

/*---- ---- 6.3.2  Fiesta Unique Elements*/

/*---- ---- ---- 6.2.2.1  Header*/
* html body #siteNavTree {
	width:190px;	
}
* html body#loggedin .header .siteNav div.userAuth,
* html body .header .siteNav .userAuth {
	height:60px;
	overflow:hidden;
}

* html body .header .mast {
	width:190px;	
}

* html body .header div.siteNav div.userAuth a.userPage {
	background-image: none;
	background-position:5px 0px;
	height:25px;
	width:190px;
}

* html body .header div.siteNav div.userRegister {
	top:-5px;
	position:relative;
	width:190px;
	background-color:transparent;
	padding:0px;
}

* html body .header div.siteNav div.userRegister a {
	margin-right:5px;
	margin-top:5px;
	top:0px;
}

* html body .header div.siteNav div.userAuth {
	height:60px;
	width:190px;
	margin-bottom:0px;
	padding-bottom:0px;
}

* html body .header div.siteNav .userAuth a.userLogout, 
* html body .header div.siteNav .userAuth a.userLogin {
	margin-right:5px;
}

/*---- ---- ---- 6.2.2.2  Body*/


* html body .body div.siteNav {
	height:60px;
}

* html body .body div.siteNav a {
	font-weight:100;	
}

* html body .body div.page {
	width:810px;
	padding:0px;
}

* html body .body div.siteNav li a:hover {
	border:0px !important;
	margin-right:1px !important;
	margin-left:1px !important;
	padding-left:5px !important;
	padding-right:5px !important;
}

* html body .body div.siteNav li.siteTools a {
	background-image: url(../drop_white.gif) !important;
	padding-right:20px !important;
}

* html body .body div.siteNav li.siteTools a:hover {
	background-image: url(../drop_white.gif) !important;
	padding-right:20px !important;
}

* html body .body .pageBar ul li.pageMore a {
	background-image: url(../drop_grey.gif);
}

* html body .body .pageBar ul li.pageMore a:hover {
	background-image: url(../drop_grey.gif);
}

* html body .body .pageBar ul li.pageMore a {
	background-position:right 47px !important;	
}

* html body .body .pageBar ul li a {
	height:55px !important;	
	padding-top:40px !important;
	font-weight:100;
}

* html body .body .pageBar {
	background-position:0px 0px;
}

* html body .body .pageBar .pageRevision {
	width:260px !important;
}

* html body .body div.siteSearch input.inputSubmit {
	border:0px;
	padding:0px;
	height:20px;
	background-image:url(buttons.gif);
}

* html body .body .siteSearch input#searchInput {
	width:100px !important;
}
















