body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	color: #921B1D;
}

a:hover {
	color: #E40D0D;
}

div.wrap {
	margin: 0 auto;
	width: 960px;
	position: relative;
}

/* Headers and other common elements */
div.header {
	overflow: hidden;
}
* html body div.header {
	height: 85px;
}

div.header .logo {
	float: left;
	padding: 15px 0;
}

div.header h1 {
	margin-right: 55px;
	padding-top: 35px;
	float: right;
	font-family: verdana,arial,sans-serif;
	font-weight: normal;
	color: #666;
	font-size: 20px;
}

#install-dependencies,
#install-contents {
	width: 565px;
	margin-left: 80px;
	overflow: hidden;
}

/* iframe container */
#install-iframes {
	width: 960px;
	margin: 0 auto;
}

#install-iframes iframe {
	width: 100%;
	border: none;
	height: 500px;
}

.analytics iframe {
	width: 1px;
	height: 1px;
}

/* Navigation */
.navTable {
	margin: 0px 0px 20px 0px;
}

.navTable td {
	height: 40px;
	padding: 8px 0;
	color: #333;
	border: solid 1px #ccc;
	border-left: none;
	border-right: none;
}

.navTable td.active,
.navTable td.completed {
	color: #fff;
	cursor: pointer;
}

.navTable td.index {
	width: 20px;
	padding-left: 30px;
	background: url(images/arrow-empty-empty.png) center no-repeat;
	background-position: 0px;
}

.navTable td.index.completed.first {
	background: url(images/arrow-bg-grey.png) center repeat-x;
}

.navTable td.index.active.first {
	background: url(images/arrow-bg-red.png) center repeat-x;
}

.navTable td.index.completed {
	background: url(images/arrow-completed-completed.png) center no-repeat;
	background-position: 0px;
}

.navTable td.index.active {
	background: url(images/arrow-completed-active.png) center no-repeat;
	background-position: 0px;
}

.navTable td.index.afterActive {
	background: url(images/arrow-active-empty.png) center no-repeat;
	background-position: 0px;
}

.navTable td.title {
	width: 100px;
	background: url(images/arrow-bg-white.png) center repeat-x;
}

.navTable td.title.active {
	background: url(images/arrow-bg-red.png) center repeat-x;
}

.navTable td.title.completed {
	background: url(images/arrow-bg-grey.png) center repeat-x;
}

.navTable td.title.last {
	background: url(images/arrow-empty-last.png) right no-repeat;
}

.navTable td.title.active.last {
	background: url(images/arrow-red-last.png) right no-repeat;
}

.navTable td.index span {
	display: block;
	height: 16px;
	width: 16px;
	margin-right: 10px;
	text-align: center;
	border-radius: 8px;
	color: #fff;
	background: #9d331c;
	-moz-border-radius: 54px;
	-webkit-border-radius: 8px;
}

.navTable td.index.completed span {
	color: #828282;
	background: #fff;
}

.navTable td.index.active span {
	color: #9d331c;
	background: #fff;
}

.navTable td.title.active,
.navTable td.title.completed {
	color: #fff;
}

/* Prereqs and help */
div.help-wrap {
	float: right;
	margin: 32px 80px 0px 0px;
	padding-bottom: 20px;
	background: url(images/shadow.png) 50% 98% no-repeat;
}

div.help {
	border: 1px solid #ccc;
	width: 200px;
	padding: 10px 5px 5px 15px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.help h1 {
	color: #a00c0c;
	margin: 0 0 8px 0;
}

div.help a {
	text-decoration: none;
}
div.help ul {
	list-stype: none;
}
div.help li {
	margin: 5px 0px 5px 0px;
	padding: 2px 2px 2px 25px;
}
div.help li span {
	font-size: 10px;
	color: #666;
	display: block;
	padding-top: 1px;
}
div.help .help-web {
	background: url(images/icon-link.png) 0px no-repeat;
}

div.help .help-phone {
	background: url(images/icon-phone.png) 0px no-repeat;
}

ul.envCheck {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.envCheck li {
	padding: 5px 5px 5px 40px;
	border-top: 1px solid #ccc;
	background: url(images/circle-grey.png) no-repeat 11px 5px;
}

ul.envCheck li.first {
	border: none;
}

ul.envCheck li.error {
	border-top: 1px solid #a00c0c;
	border-bottom: 1px solid #a00c0c;
	background: url(/skins/common/icons/cancel.png) no-repeat 10px 5px #ffdcdc;
}

ul.envCheck li.success {
	background: url(/skins/common/icons/accept.png) no-repeat 10px 5px;
}

ul.envCheck li.input {
	cursor: pointer;	
}
ul.envCheck li.fatal {
	background: none;
	background-color: #ffdcdc;
	padding: 5px;
}
ul.envCheck li.fatal h2 {
	text-align: center;
	font-weight: bold;
	color: #000;
}

/* Headings for installation steps */
h1 {
	font-size: 18px;
}

h1.error {
	color: #ff0000;
}

h1.error a,h1.error a:visited,h1.error a:active {
	font-size: 12px;
	color: #ff0000;
}

h2 {
	font-weight: normal;
	color: #666;
	background: #efefef;
	padding: 10px;
	font-size: 14px;
	margin: 0px 0px 10px 0px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	position: relative;
}

h2.first {
	border-top: 0px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}

/* edit buttons in confirmation */
h2 a.edit {
	float: right;
	font-size: 12px;
	border: 1px solid #999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	color: #333;
	padding: 2px 10px 2px 10px;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr = '#efefef', endColorstr = '#cecece' );
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cecece) );
	background: -moz-linear-gradient(top, #efefef, #cecece);
	
	position: absolute;
	right: 8px;
	margin: 0px;
	top: 8px;
}

h3 {
	padding: 8px;
	background: #ddd;
}

/* General form elements */
fieldset {
	margin: 10px 0px 20px 0px;
	padding: 0px;
	border: 1px solid #999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

fieldset {
	padding: 0px;
	width: 550px;
}

.table {
	padding: 0px 0px 10px 20px;
	overflow: hidden;
}

label {
	float: left;
	width: 500px;
	text-align: left;
	padding: 5px 0;
}

.description {
	padding: 5px 0px;
	font-size: 11px;
	color: #666;
}

input {
	background-color: #fff;
	border: solid 1px #666;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
/* only add focus bg for input errors */
.input-messages input:focus {
	background-color: #ffddcc;
}
.input-messages select:focus {
	font-weight: bold;
}

input.input-text,
input.input-password {
	font-size: 14px;
	padding: 3px;
	width: 300px;
}

select {
	width: 225px;
	font-size: 14px;
	padding: 3px;
}
div.input div.label-required {
	display: none;
	padding-left: 5px;
	color: red;
	font-size: 11px;
}
div.input div.required {
	display: inline;
}

/* Navigation buttons */
.navButtons {
	display: block;
	background: #efefef;
	overflow: hidden;
	margin: 10px 0px 0px 0px;
	padding: 15px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	
	position: relative;
	height: 30px;
}

.navButtons input {
	cursor: pointer;
	cursor: hand;
}

.backButton {
	float: left;
	position: absolute;
	top: 18px;
}

.backButton a {
	border: none;
	background: none;
	color: #666;
	text-transform: lowercase;
	text-decoration: none;
}

.nextButton,
.installButton {
	float: right;
}

a.button {
	padding-right: 5px;
	padding-left: 5px;
	line-height: 30px;
	text-align: center;
	display: block;
}

a.button,
.nextButton input,
input.submit,
.submit input {
	height: 30px;
	min-width: 150px;
	background: transparent url(images/button-background.png) repeat-x center center;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	
	border: 1px solid #0ca00c;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.submit input {
	width: 200px;
}
.navButtons div.submit {
	padding-right: 25px;
	overflow: auto;
}
div.navButtons div.submit.loading {
	background-image: url(/skins/common/icons/anim-circle.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

/* Product type */
div.installation-type {
	margin-top: 10px;
}

div.product {
	width: 510px;
	min-height: 110px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 4px;
	margin: 0px 0px 10px 0px;
	padding: 10px 20px;
	overflow: auto;
	filter: progid:DXImageTransform.Microsoft.gradient ( startColorstr = '#ffffff', endColorstr = '#efefef' );
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef) );
	background: -moz-linear-gradient(top, #ffffff, #efefef);
	position: relative;
}

div.product .product-tab {
	width: 35px;
	height: 35px;
	position: absolute;
	top: -1px;
	left: -1px;
}

div.product-commercial .product-tab {
	background: url(images/product-2010-background.png) no-repeat;
}

div.product-platform .product-tab {
	background: url(images/product-v10-background.png) no-repeat;
}

div.product-core .product-tab {
	background: url(images/product-core-background.png) no-repeat;
}
.product .install {
	float: right;
	margin-top: 35px;
}
* html body .product .install a.button {
	width: 115px;
}
.product a.button {
	text-decoration: none;
	line-height: 30px;
	text-align: center;
}
div.product .details {
	padding: 10px 10px 10px 10px;
	margin-left: 10px;
}
.product h2 {
	border: none;
	background: none;
	margin: 0px;
	padding: 0px;
	color: #333;
}
.product .description {
	padding: 8px 0px;
	font-size: 11px;
	color: #666;
}
.product .features {
	width: 315px;
	padding-top: 5px;
	font-size: 10px;
	color: #888;
}
.product .features a {
	color: #888;
}



/* Configuration */
div.existing {
	padding-right: 80px;
	text-align: left;
	margin-bottom: 10px;
	font-size: 11px;
}

/* About your organization */
ul.usagelist {
	padding: 10px 0px 0px 0px;
	overflow: hidden;
}

ul.usagelist li {
	float: left;
	list-style-type: none;
	width: 45%;
}

ul.usagelist label {
	float: none;
}

/*
 * Confirmation
 */
.confirm label {
	width: 200px;
	margin-bottom: 15px;
	float: left;
	clear: left;
}
.confirm .install-type h2.first {
	width: 530px;
	margin-top: 10px;
	border: solid 1px #ccc;
}
.confirm .install-type .button {
	display: none;
}
.confirm div.input input {
	width: 310px;
	float: left;
	clear: right;
	background: #fefefe;
	border: 1px solid #ccc;
	padding: 4px;
	color: #666;
}

.confirm input.input-text,
.confirm input.input-password {
	width: 300px;
	background: #efefef;
	border: none;
	float: left;
	clear: right;
}

/* Completed install */
/* hide all complete messages */
#complete-messages {
	display: none;	
}

div.section-wrap {
	padding-top: 35px;
}

form.login {
	width: 250px;
	padding-top: 15px;
	margin: 0px auto;
	text-align: center;
}

form.login input.submit {
	padding: 0px 20px 0px 20px;
	cursor: pointer;
}

/* installation complete */
div.waitnotdone strong {
	font-weight: bold;
}

div.waitnotdone pre {
	padding: 10px;
	margin: 10px auto;
	width: 90%;
	border: 2px solid #ccc;
	background: #333;
	color: #ccc;
	line-height: 22px;
}

.install-complete h1 {
	margin-bottom: 10px;
}

.install-complete h2 {
	color: #333;
	font-weight: bold;
	border-color: #cfcfcf;
	background: #efefef;
	padding: 5px;
	margin-top: 10px;
}
.install-complete p {
	margin: 5px 0;
	line-height: 18px;
}
.install-complete strong {
	font-weight: bold;	
}

.install-complete .indent {
	padding-left: 10px;
	margin: 20px 5px 20px 40px;
	border-left: 2px solid #33CC33;
}
.install-complete .indent-error {
	border-left: 2px solid #CC3333;
}

.install-complete p.success {
	border: none;
	background: url(/skins/common/icons/accept.png) no-repeat 0px;
	color: green;
	font-weight: bold;
	padding-left: 20px;
}

.install-complete p.error {
	background: url(/skins/common/icons/cancel.png) no-repeat 10px #ffdcdc;
	padding: 10px 10px 10px 40px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #cc0000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: red;
	font-weight: bold;
}

.install-complete-footer {
	color: #999;
	margin: 10px;
	padding-top: 20px;
}

/* initially hidden */
.install-running {
	display: none;
}

.install-not-running,
.install-running {
	margin-top: 10px;
	font-size: 10px;
	color: #999;
	text-align: center;
}

.install-not-running img,
.install-running img {
	padding-right: 10px;
	vertical-align: middle;
}

/* Success and error states */
div.success {
	background: #ccffcc url(/skins/common/icons/accept.png) no-repeat 10px;
	padding: 10px 10px 10px 40px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #33cc33;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.installation-status .error {
	background: url(/skins/common/icons/cancel.png) no-repeat 10px #ffdcdc;
	padding: 10px 10px 10px 40px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #cc0000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.installation-status .error-details {
	padding: 10px;
	margin: 5px 0px 5px 0px;
	border: 1px solid #cc0000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.installation-status a.button {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	text-align: center;
}

.installation-warning {
	color: #ff0000;
	padding: 0px 20px 0px 225px;
	margin-bottom: 20px;
}

/* IE6 fixes */
* html body h2 a.edit {
	display: inline;
	float: none;
}

* html body .table {
	width: 500px;
}

* html body .navButtons {
	height: 50px;
}

* html body .help-wrap {
	float: none;
	position: absolute;
	right: 0px;
	width: 180px;
}

* html body div.navTable table tr td {
	background: #aaa;
}

/* IE7 fixes */
*:first-child+html h2 a.edit {
	display: inline;
	float: none;
}

*:first-child+html .help-wrap {
	float: none;
	position: absolute;
	right: 0px;
}

*:first-child+html form.login input.submit {
	width: 250px;
}

