
#header div.search {
	position:relative;
	left:16px;
}
#header div.search fieldset {
	position:relative;
	top:-5px;
}
#header div.search fieldset input {
	position:relative;
	top:3px;
}
.menu div ul li a {
	background:#fff !important;
	width:154px;
	border-right:1px solid #ccc;
}
.menu div ul li a:hover {
	background:#e4e4e4 !important;
	border-right:1px solid #ccc;
}
.menu div ul li.spacer {
	position:relative;
}
.menu div ul li.spacer {
	display:none;
}
#pageGallery div.navigation {
	position: relative;
	top: 8px;
}

pre {
	min-height:40px;
}
#header div.search {
	padding-right:20px;
}