.yui-panel-container.shadow .underlay {
	zoom:1;
}
.button-group button {
	cursor: hand;
}

#pageText #pageTypeSpecial form.page-alerts div input {
	margin: 0 4px 0 0;
}

img { -ms-interpolation-mode:bicubic; }