/* @note kalida: Custom fonts should be removed if IE is on highest security settings (will prompt for download) */

@font-face {
	font-family: DroidSans;
	src: url(/skins/common/fonts/DroidSans.woff) format("woff");
}
@font-face {
	font-family: DroidSansBold;
	src: url(/skins/common/fonts/DroidSans-Bold.woff) format("woff");
}
