
form#addgroups,
form#editgroups,
form#listgroups,
form#editusers
{
	margin:0 0 30px 0;
	width: 100%;
	padding:0;
	clear:both;
}

form#addgroups:after,
form#editgroups:after,
form#listgroups:after,
form#editusers:after
{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

form#addgroups h2,
form#editgroups h2,
form#listgroups h2,
form#addservices h2,
form#editservices h2,
form#listservices h2,
form#editusers h2
{
	margin:15px 0;
}

form#addgroups p
{
    margin:1em 0;
}

form#addgroups fieldset
{
    float:left;
    height:18em;
    margin:-15px 15px 0 0;
    padding:1em;
}

html>body form#addgroups fieldset
{
    height:15em;
    margin:0 15px 0 0;
}

form#addgroups fieldset.stepone
{
    width:50%;
}

form#addgroups fieldset.steptwo
{
    width:30%;
}

html>body form#addgroups fieldset.steptwo
{
    width:25%;
}

form#addgroups div
{
    width:100%;
}

html>body form#addgroups div
{
    padding-right:5px;
}

form#addgroups textarea
{
    height:8em;
}

form#addgroups select
{
    display:block;
    width:80%;
    margin: 1em 0;
}

form#listgroups .navigation,
form#listservices .navigation,
form#editusers .navigation,
form#viewdoubleredirs .navigation,

form#listgroups .pagerblock,
form#listservices .pagerblock,
form#editusers .pagerblock,
form#viewdoubleredirs .pagerblock
{
/*	background:#eee;*/
	width:99%;
	margin:3px 0 6px 0;
	position:relative;
}

form#listgroups .pagerblock .currentitems,
form#listservices .pagerblock .currentitems,
form#editusers .pagerblock .currentitems,
form#viewdoubleredirs .pagerblock .currentitems
{
	margin: 0 3em;
}

form#listgroups .tablemenu .actionsdiv,
form#listservices .tablemenu .actionsdiv,
form#editusers .tablemenu .actionsdiv,
form#viewdoubleredirs .tablemenu .actionsdiv,

form#listgroups .pagerblock .prevlinkdiv,
form#listservices .pagerblock .prevlinkdiv,
form#editusers .pagerblock .prevlinkdiv,
form#viewdoubleredirs .pagerblock .prevlinkdiv
{
	float:left;
}

form#listgroups .tablemenu .viewdiv,
form#listservices .tablemenu .viewdiv,
form#editusers .tablemenu .viewdiv,
form#viewdoubleredirs .tablemenu .viewdiv,

form#listgroups .pagerblock .nextlinkdiv,
form#listservices .pagerblock .nextlinkdiv,
form#editusers .pagerblock .nextlinkdiv,
form#viewdoubleredirs .pagerblock .nextlinkdiv
{
	float:right;
}

form#listgroups .tablemenu .searchdiv,
form#listservices .tablemenu .searchdiv,
form#editusers .tablemenu .searchdiv,
form#viewdoubleredirs .tablemenu .searchdiv,

form#listgroups .pagerblock .pagenumsblock,
form#listservices .pagerblock .pagenumsblock,
form#editusers .pagerblock .pagenumsblock,
form#viewdoubleredirs .pagerblock .pagenumsblock
{
	text-align:center;
}

form#listgroups .tablemenu:after,
form#listservices .tablemenu:after,
form#editusers .tablemenu:after,
form#viewdoubleredirs .tablemenu:after,
form#listgroups .pagerblock:after,
form#listservices .pagerblock:after,
form#editusers .pagerblock:after,
form#viewdoubleredirs .pagerblock:after
{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

form#listgroups .pagerblock .arr,
form#listservices .pagerblock .arr,
form#editusers .pagerblock .arr,
form#viewdoubleredirs .pagerblock .arr
{
	text-decoration:none;
	font-size:120%;
}

form#listgroups table,
form#listservices table,
form#editusers table,
form#viewdoubleredirs table
{
	empty-cells:show;
	border-collapse:collapse;
	width:99%;
	margin:0;
}

form#listgroups table .checkbox,
form#listservices table .checkbox,
form#editusers table .checkbox,
form#viewdoubleredirs table .checkbox
{
	width:1%;
}

form#listgroups div.tablepopup,
form#listservices div.tablepopup,
form#editusers div.tablepopup,
form#viewdoubleredirs div.tablepopup
{
	position:absolute;
	padding:10px;
	border:#ccc solid 1px;
	background:#eee;
	display:none;
	top:100%;
	left:0;
}

form#listgroups div.tablepopup input.textinput,
form#listservices div.tablepopup input.textinput,
form#editusers div.tablepopup input.textinput,
form#listgroups div.tablepopup select,
form#listservices div.tablepopup select,
form#editusers div.tablepopup select,
form#viewdoubleredirs div.tablepopup select
{
	/*width: 100px;*/
	margin-right:5px;
}

form#listgroups div.tablepopup select.roles,
form#listservices div.tablepopup select.roles,
form#editusers div.tablepopup select.roles
{
	display: none;
}

form#addusers fieldset div
{
	padding: 6px 0 0 0;
	margin: 0 12px 9px 0;
}

form#addusers fieldset div a
{
	float:right;
}

form#addusers fieldset div label
{
	margin-right: 0.5em;
}

form#addusers #getfromldap
{
	display:none;
}

form#addusers table.addsingleuser,
form#addservices table.addeditservice,
form#editservices table.addeditservice
{
	width:100%;
}
form#addusers table.addsingleuser input,
form#addusers table.addsingleuser select,
form#addservices table.addeditservice input,
form#addservices table.addeditservice select,
form#editservices table.addeditservice input,
form#editservices table.addeditservice select
{
	margin-bottom:1px; 
}

form#addusers table.markuptable td,
form#addservices table.markuptablelocal td,
form#addservices table.markuptableremote td,
form#editservices table.markuptablelocal td,
form#editservices table.markuptableremote td
{
	vertical-align:top;
}
form#addusers td.usertip,
form#addservices td.usertip,
form#editservices td.usertip
{
	width:40%;
	vertical-align:top;
	background:#ccc;
	padding:0 1em;
}

form#addusers table.addsingleuser td.spaced,
form#addservices table.addeditservice td.spaced,
form#editservices table.addeditservice td.spaced
{
	padding-bottom:2em;
}

form#addusers td.usertip h3,
form#addservices td.usertip h3,
form#editservices td.usertip h3
{
	margin:1em 0 0.5em 0;
}
form#addusers td.usertip p,
form#addservices td.usertip p,
form#editservices td.usertip p
{
	margin:0.5em 0;
}

form#addservices table.markuptablelocal,
form#editservices table.markuptablelocal,
form#addservices table.markuptableremote,
form#editservices table.markuptableremote
{
	clear:both;
	padding:0;
	margin:0;
	border-collapse:collapse;
}
form#addservices table.markuptableremote,
form#editservices table.markuptableremote,
form#addservices .modeswitch .remotelink,
form#editservices .modeswitch .remotelink
{
	background: #ddd;
}
form#addservices table.markuptablelocal,
form#editservices table.markuptablelocal,
form#addservices .modeswitch .locallink,
form#editservices .modeswitch .locallink
{
	background: #eee;
}

form#addservices .modeswitch a,
form#addservices .modeswitch span,
form#editservices .modeswitch a,
form#editservices .modeswitch span
{
	float:left;
	padding:10px;
	margin-bottom: -4px;
	font-weight:bold;
}
html>body form#addservices .modeswitch a,
html>body form#addservices .modeswitch span,
html>body form#editservices .modeswitch a,
html>body form#editservices .modeswitch span
{
	margin-bottom: 0;
}

.ldaplogin
{
	background:#eee;
	position:absolute;
	top:15%;
	left:35%;
	padding:12px;
	border: #000 solid 1px;
}

html>body .ldaplogin
{
	position:fixed;
}

.ldaplogin input
{
	margin: 0 6px;
}

.ldaplogin p
{
	margin:0 6px 12px 6px;
}

form#addservices div#configdiv input,
form#editservices div#editconfigdiv input,
form#addservices div#configdiv a,
form#editservices div#editconfigdiv a,
form#addservices div#prefsdiv input,
form#editservices div#editprefsdiv input,
form#addservices div#prefsdiv a,
form#editservices div#editprefsdiv a
{
	margin-right:4px;
}

form#editgroupusers td.selectusers_class
{
	vertical-align:top;
}

form#editgroupusers td.selectusers_class select
{
	display:block;
	width:200px;
	height:300px;
}

form#editgroupusers a.nextlink_class
{
	float:right;
}
form#editgroupusers a.prevlink_class
{
	float:left;
}
