.ui-msg {
	padding: 8px;
	font-size: 11px;
	font-family: "Lucida Grande", Verdana, Sans-Serif;
	min-height: 32px;
}
.ui-errormsg {
	border: 4px solid #eee488;
	background-color: #fff799;
}
.ui-successmsg {
	border: 4px solid #c4df9b;
	background-color: #e2f6b2;
}
.ui-msg:hover {
	border: 4px solid #000;
}
.ui-msgtextarea {
	width: 100%;
	height: 200px;
	border: 1px solid #000;
	font-size: 12px;
}
.ui-msg-wrap {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
}
.ui-msg-opt {
	float: right;
	width: 260px;
}
.ui-msg-opt ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.ui-msg-opt ul li {
	float: right;
	padding: 0;
	margin: 0;
	padding-left: 4px;
	margin-left: 4px;
}
.ui-msg-autoclose {
	clear: both;
	text-align: right;
	padding-top: 6px;
	font-size: 10px;
	font-weight: normal;
}
.ui-msg-header {
	font-weight: bold;
	font-size: 14px;
	color: #ed1c24;
}
.ui-successmsg .ui-msg-header {
	color: #00a650;
}
.ui-msg-opt {
	font-size: 10px;
	font-weight: bold;
}
.ui-msg-opt a {
	display: block;
	font-weight: normal;
	color: #000;
}
.ui-msg-opt a:hover {
	color: #ed1c24;
}
.ui-successmsg .ui-msg-opt a:hover {
	color: #00a650;
}
.ui-msg-opt a.dismiss {
	padding-right: 12px;
	background: url(/skins/common/icons/close.png) no-repeat center right;
}
#MTMessageTimer {
	font-weight: bold;
}