/* Pigiarniq, Regular */
@font-face {
    font-family: Pigiarniq;
    font-style: normal;
    font-weight: normal;
	src: url("/skins/fonts/pigiarniq/Pigiarniq_Regular.ttf")
}

/* Pigiarniq, Bold */
@font-face {
    font-family: Pigiarniq;
    font-style: normal;
    font-weight: bold;
	src: url("/skins/fonts/pigiarniq/Pigiarniq_Bold.ttf")
}

/* GentiumAlt, Italic */
@font-face {
    font-family: GentiumAlt;
    font-weight: normal;
    font-style: italic;
    src: url("/skins/fonts/gentium/GenAI102.TTF")
}

/* GentiumAlt, Regular */
@font-face {
    font-family: GentiumAlt;
    font-weight: normal;
    font-style: normal;
    src: url("/skins/fonts/gentium/GenAR102.TTF")
}

/* Gentium, Italic */
@font-face {
    font-family: Gentium;
    font-weight: normal;
    font-style: italic;
    src: url("/skins/fonts/gentium/GenI102.TTF")
}

/* Gentium, Regular */
@font-face {
    font-family: Gentium;
    font-weight: normal;
    font-style: normal;
    src: url("/skins/fonts/gentium/GenR102.TTF")
}

/* Gentium Basic, Bold Italic */
@font-face {
    font-family: Gentium Basic;
    font-weight: bold;
    font-style: italic;
    src: url("/skins/fonts/gentium-basic/GenBasBI.ttf")
}

/* Gentium Basic, Bold */
@font-face {
    font-family: Gentium Basic;
    font-weight: bold;
    font-style: normal;
    src: url("/skins/fonts/gentium-basic/GenBasB.ttf")
}

/* Gentium Basic, Italic */
@font-face {
    font-family: Gentium Basic;
    font-weight: normal;
    font-style: italic;
    src: url("/skins/fonts/gentium-basic/GenBasI.ttf")
}

/* Gentium Basic, Regular */
@font-face {
    font-family: Gentium Basic;
    font-weight: normal;
    font-style: normal;
    src: url("/skins/fonts/gentium-basic/GenBasR.ttf")
}

/* Gentium Book Basic, Bold Italic */
@font-face {
    font-family: Gentium Book Basic;
    font-weight: bold;
    font-style: italic;
    src: url("/skins/fonts/gentium-basic/GenBkBasBI.ttf")
}

/* Gentium Book Basic, Bold */
@font-face {
    font-family: Gentium Book Basic;
    font-weight: bold;
    font-style: normal;
    src: url("/skins/fonts/gentium-basic/GenBkBasB.ttf")
}

/* Gentium Book Basic, Italic */
@font-face {
    font-family: Gentium Book Basic;
    font-weight: normal;
    font-style: italic;
    src: url("/skins/fonts/gentium-basic/GenBkBasI.ttf")
}

/* Gentium Book Basic, Regular */
@font-face {
    font-family: Gentium Book Basic;
    font-weight: normal;
    font-style: normal;
    src: url("/skins/fonts/gentium-basic/GenBkBasR.ttf")
}

@page {
	size: US-letter;
	margin: 0.5in;

	@top-right { 
    content: string(title);
    font-style: italic;
  }
	@bottom-center {
	  content: counter(page);
	  vertical-align: top;
	  padding-top: 0.5em;
	}
}

body {
	background-color: #fff;
	color: #000;
	max-width: 7.5in;
}

#title {
	padding: 0;
}

#pageText {
	color: #000;
	font: 12pt/1.2 "Gentium", serif;
	max-width: 7.5in;
}

#topic h1#title,
#pageText p, 
#pageText h1,
#pageText h2,
#pageText h3,
#pageText h4,
#pageText h5,
#pageText h6 {
	margin: 0; padding: 0;
}

#pageText p {
	padding: 0 0 12px 0;
	line-height: 1.3;
	font-family: "Gentium Book Basic", serif;
	font-size: 12pt;
}

#topic h1#title,
#pageText h1,
#pageText h2,
#pageText h3,
#pageText h4,
#pageText h5,
#pageText h6 {
	font-family: "Pigiarniq", sans-serif;
	letter-spacing: -1pt;
	margin: 0.2em 0;
}

#topic h1#title {
	border-bottom: 1px solid #bbbbbb;
}

#topic h1#title,
#pageText h1 {
	font-size: 16pt;
}

#pageText h2 {
	font-size: 14pt;
}

#pageText h3 {
	font-size: 12pt;
}

#pageText h4 {
	font-size: 11pt;
}

#pageText h5 {
	font-size: 10pt;
}

#pageText h6 {
	font-size: 9pt;
}

#topic h1#title {
	font-size: 21pt;
	font-weight: bold;
}

#topic ul,
#topic ol {
	margin-top: 0;
	margin-bottom: 12px;
}

#topic ul li,
#topic ol li {
	padding-bottom: 4px;
}

#pageContent {
	padding-top: 0;
}

/*
#printOptToc {
	display: none;
}
*/

#pageToc {
	padding: 10px 0 0 10px;
	margin: 6px 0;
	display: none;
}

a { 
	text-decoration: underline; 
}

/* images */

img {
	max-width: 7.5in;
	margin-top: 6px;
}

img.lwrap {
	margin-right: 10px;
}

img.rwrap {
	margin-left: 10px;
}
img {
	border: thin solid #000;
}

/* tables */

#topic table {
	max-width: 7in;
	margin-bottom: 12px;
}

#topic table,
#topic table tr,
#topic table td {
	border: none;
}

#topic table {
	border-left: 1px solid #848484;
	border-bottom: 1px solid #848484;
}

#topic table td {
	border-top: 1px solid #848484;
	border-right: 1px solid #848484;
	padding: 8px;
}

/* footer */

#printfooter {
	font: 9pt Verdana, sans-serif;
	padding-top: 20px;
}

#printfooter hr {
	margin-bottom: 12px;
}

tr.bottom {
	display: none;
}