/* Pigiarniq, Regular */
@font-face {
    font-family: Pigiarniq;
    font-style: normal;
    font-weight: normal;
	src: url(/skins/fonts/pigiarniq/Pigiarniq_Regular.ttf)
}

/* Pigiarniq, Bold */
@font-face {
    font-family: Pigiarniq;
    font-style: normal;
    font-weight: bold;
	src: url(/skins/fonts/pigiarniq/Pigiarniq_Bold.ttf)
}

/* Gentium Book Basic, Bold Italic */
@font-face {
    font-family: Gentium Book Basic;
    font-weight: bold;
    font-style: italic;
    src: url(/skins/fonts/gentium-basic/GenBkBasBI.ttf)
}

/* Gentium Book Basic, Bold */
@font-face {
    font-family: Gentium Book Basic;
    font-weight: bold;
    font-style: normal;
    src: url(/skins/fonts/gentium-basic/GenBkBasB.ttf)
}

/* Gentium Book Basic, Italic */
@font-face {
    font-family: Gentium Book Basic;
    font-weight: normal;
    font-style: italic;
    src: url(/skins/fonts/gentium-basic/GenBkBasI.ttf)
}

/* Gentium Book Basic, Regular */
@font-face {
    font-family: Gentium Book Basic;
    font-weight: normal;
    font-style: normal;
    src: url(/skins/fonts/gentium-basic/GenBkBasR.ttf)
}

/* override for serif, Gentium Book Basic, Regular */
@font-face {
    font-family: serif;
    font-weight: normal;
    font-style: normal;
    src: url(/skins/fonts/gentium-basic/GenBkBasR.ttf)
}

/* override for serif, Gentium Book Basic, Bold */
@font-face {
    font-family: serif;
    font-weight: bold;
    font-style: normal;
    src: url(/skins/fonts/gentium-basic/GenBkBasB.ttf)
}

/* override for serif, Gentium Book Basic, Italic */
@font-face {
    font-family: serif;
    font-weight: normal;
    font-style: italic;
    src: url(/skins/fonts/gentium-basic/GenBkBasI.ttf)
}

/* override for serif, Gentium Book Basic, Bold, Italic */
@font-face {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    src: url(/skins/fonts/gentium-basic/GenBkBasBI.ttf)
}
/* override for sans-serif, Gentium Book Basic, Bold */
@font-face {
    font-family: sans-serif;
    font-weight: bold;
    font-style: normal;
    src: url(/skins/fonts/gentium-basic/GenBkBasB.ttf)
}

/* override for sans-serif, Gentium Book Basic, Italic */
@font-face {
    font-family: sans-serif;
    font-weight: normal;
    font-style: italic;
    src: url(/skins/fonts/gentium-basic/GenBkBasI.ttf)
}

/* override for sans-serif, Gentium Book Basic, Bold, Italic */
@font-face {
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    src: url(/skins/fonts/gentium-basic/GenBkBasBI.ttf)
}

@page {
	size: US-letter;
	margin: 0.5in;
}
@top-right { 
	content: string(title);
	font-style: italic;
}
@bottom-center {
	content: counter(page, lower-alpha)
	vertical-align: top;
	padding-top: 0.5em;
}
body {
	font-family: Gentium Book Basic, serif, Arial, Arial Unicode MS, AR PL KaitiM Big5, AR PL Mingti2L Big5, AR PL SungtiL GB, AR PL KaitiM GB, AR PL ZenKai Uni, AR PL ShanHeiSun Uni, Kochi Gothic;
	font: 12pt/1.2 Gentium Book Basic, serif;
	color: #000;
	max-width: 7.5in;
	padding-top: 0;	
}


title,
p, 
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; padding: 0;
}

p {
	padding: 0 0 12px 0;
	line-height: 1.3;
	font-family: Gentium Book Basic, serif, Arial, Arial Unicode MS, AR PL KaitiM Big5, AR PL Mingti2L Big5, AR PL SungtiL GB, AR PL KaitiM GB, AR PL ZenKai Uni, AR PL ShanHeiSun Uni, Kochi Gothic;
	font-size: 12pt;
}

title,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Pigiarniq, sans-serif, Arial, Arial Unicode MS, AR PL KaitiM Big5, AR PL Mingti2L Big5, AR PL SungtiL GB, AR PL KaitiM GB, AR PL ZenKai Uni, AR PL ShanHeiSun Uni, Kochi Gothic;
	letter-spacing: -1pt;
	margin: 0.2em 0;
}

title,
h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

h4 {
	font-size: 11pt;
}

h5 {
	font-size: 10pt;
}

h6 {
	font-size: 9pt;
}

title {
	font-size: 21pt;
	font-weight: bold;
}

a { 
	text-decoration: underline; 
}

/* images */

img {
	max-width: 7.5in;
	margin-top: 6px;
}

img.lwrap {
	margin-right: 10px;
}

img.rwrap {
	margin-left: 10px;
}

/* tables */

table {
	max-width: 7in;
	margin-bottom: 12px;
}

table,
table tr,
table td {
	border: none;
}

table td {
	border-top: 1px solid #848484;
	border-right: 1px solid #848484;
	padding: 8px;
}

pre {
    white-space: pre-wrap;
}

/*CUSTOM PDF CSS*/

/*Set the CSS for all pages in the PDF document*/
@page {
	font-family:arial,verdana,helvetic;
	@top-right {
		content: string(docheader)	
	}
    @bottom-right {
		content: counter(page)
    }
    @bottom-left {
		content: string(secheader)
    }
    counter-reset: page 1;
}

/*Expose Section Id's*/
span:empty {
	display:block !important;
	height:1px;
	overflow:hidden;
}

/*Identify Key Pages*/
.wiki-toc {
    page-break-after: always;
}
/*TABLE OF CONTENTS SETTINGS*/


.wiki-toc::before {
	display: block;
	margin-bottom: 20px; 
	font-family: Pigiarniq, sans-serif, Arial, Arial Unicode MS, AR PL KaitiM Big5, AR PL Mingti2L Big5, AR PL SungtiL GB, AR PL KaitiM GB, AR PL ZenKai Uni, AR PL ShanHeiSun Uni, Kochi Gothic;
	letter-spacing: -1pt;
	margin: 0.2em 0;
}

.wiki-toc a {
	display: block;
	content: target-content(attr[href]); ;
	text-decoration:none;
	font-family: arial,verdana,helvetica;
} 

.wiki-toc span {
	display:none;	
}

.wiki-toc ol > li {
	margin-top:10px;
	font-weight:bold;
}

.wiki-toc ol > li > ol > li {
	font-size:13px;
	margin-top:4px;
	font-weight:100;
}

.wiki-toc a[href]::after {
    content: leader('. ') target-counter(attr(href), page); 
}

/*Set content variables*/
h1 { string-set: docheader content() }
h2 { string-set: secheader content() }


/*Set the style for the H@*/
h2 { 
	font-size: 18px;
	display: block;
	margin-bottom: 20px 0 10px 0; 
}

h1 { 
	display:none !important;
}