@CHARSET "UTF-8";

div.deki-dialog-status
{
    border-top: 2px solid #999;
    padding: 4px 6px 0px 6px;
    margin-top: 10px;
    font-size: 11px;
}

div.deki-dialog-loading
{
	position: absolute;
	left: 1em;
	top: 1em;
	font: 12px Verdana;
}

.yui-skin-sam .yui-panel .bd {
    padding: 0;
    position: relative;
}
