h2 {
	margin: 0; padding: 0; 
	font-weight: bold;
	font-size: 12px;	
}
div.highlight, 
div.fail {
	border: 1px solid #aaa;
	background-color: #fff;
	padding: 6px;
	font-size: 12px;
	margin-bottom: 12px;	
	overflow: auto;
}
div.fail {
	font-size: 11px;
	color: #f00;
}
.labels {
	width: 64px;
	float: left;
	text-align: right;
	padding-right: 16px;
}
.forms {
	float: left;
	padding-bottom: 4px;
	margin-bottom: 4px;
	width: 300px
}
div.input {
	padding-bottom: 2px;
	margin-bottom: 2px;
}
textarea {
	width: 290px;
}