div.video-wrap {
	padding: 18px 0 0 18px;
}

div.type input {
	margin-top: -2px;
}

div.type div.description-top {
	top: -64px;
}

div.type div.description-bottom {
	top: -56px;
}

div.size input.radio {
	float: none;
	margin: 0;
}

div.size input.radio label {
	display: inline;
}

div.size input.radio {
	margin-top: 10px;
}