html, body, .dialog {
  background: #F2F2F2;
  color: ButtonText;
  font: 11px DroidSans, Tahoma, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

body { padding: 0px; }
div.wrap { padding: 2px 10px; }
img { border: none; }
form { padding: 0px; margin: 0px; }
form p {
  margin-top: 5px;
  margin-bottom: 5px;
}
table {
  font: 11px DroidSans, Tahoma,Verdana,sans-serif;
}
table th { text-align: left; }
select, input, button, textarea { font: 11px Tahoma,Verdana,sans-serif; }
button { width: 70px; }
table .label { text-align: right; width: 7em; }

.fl { width: 9em; float: left; padding: 2px 5px; text-align: right; }
.fr { width: 7em; float: left; padding: 2px 5px; text-align: right; }
fieldset { padding: 0px 10px 5px 5px; }
.space { padding: 2px; }
.title { background: #ddf; color: #000; font-weight: bold; font-size: 120%; padding: 3px 10px; margin-bottom: 10px;
border-bottom: 1px solid black; letter-spacing: 2px;
}
.buttonColor {
  padding: 1px;
  cursor: default;
  border: 1px solid;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
#buttons {
      margin-top: 1em; 
      border-top: 1px solid #999;
      padding: 1em; 
      text-align: right;
}

input.mainsubmit, button.mainsubmit { font-weight: bold; width:auto}

button.ok { font-weight: bold; }

/* >MT */

#status-bar {
	border-top: 2px solid #999;
	padding: 4px 6px 0px 6px;
	font-size: 11px;	
}
#attachFileForm table {
}
#attachFileForm table th {
	text-align: left;	
}

button {
  width: 5em;
  padding: 0px;
}

.buttonColor {
  padding: 1px;
  cursor: default;
  border: 1px solid;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.buttonColor-hilite {
  border-color: #000;
}

.buttonColor .chooser, .buttonColor .nocolor {
  height: 0.6em;
  border: 1px solid;
  padding: 0px 1em;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.buttonColor .nocolor { padding: 0px; }
.buttonColor .nocolor-hilite { background-color: #fff; color: #f00; }

.clearfix:after
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* <MT */

div.submit {
	text-align: right;
	padding-top: 8px;
	padding-bottom: 8px;	
}

/***
 * Tabs
 */ 
div.tabs {
	background-color: #000;	
	overflow: hidden;
	width: 100%;
}
div.tabs ul {
	padding: 6px 4px 4px 0px;
    margin: 0 0 8px 100px;
	list-style-type: none;
}
div.tabs ul li {
	margin: 0; padding: 0;
	float: left;
	margin-right: 8px;
}
div.tabs ul li a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	display: block;
	padding: 6px;
	color: #fff;
	background-color: #919191;
}
div.tabs ul li a:hover {
	color: #ff0;
	background-color: #919191;
}
div.tabs ul li.active a,
div.tabs ul li.active a:hover {
	color: #000;
	background-color: #f2f2f2;
}
div.tabs ul li a span {
	padding: 6px;
	padding-left: 22px;
	padding-right: 8px;
}
div.tabs ul li.search a span {
	background: url(/skins/common/icons/search.png) no-repeat center left;
}
div.tabs ul li.browse a span {
	background: url(/skins/common/icons/browse.png) no-repeat center left;
}

div.tabs ul li.flash a span {
    background: url(/skins/common/icons/page_white_flash.png) no-repeat center left;
}
div.tabs ul li.classic a span {
    background: url(/skins/common/icons/attach.png) no-repeat center left;
}
