form#login fieldset
{
	width:40%;
}

form#login table
{
	border-collapse:collapse;
}

form#login td
{
	vertical-align:bottom;
	padding:5px 0;
}

form#login input,
form#login select
{
	display:block;
	margin:3px 0;
	font-family:Arial, sans-serif;
}

form#login input.radioclass
{
	display:inline;
	vertical-align:middle;
	margin-right:5px;
}
