body {
	padding:0;	
	font-size:12px;
	background-image: url(images/body_bg.gif);
	background-position: top center;
	background-repeat: repeat-x;
	background-color: #e6f1c3;
}
.global {
	background-image:url(images/global_bg.gif);
	background-position:center top;
	background-repeat:no-repeat;
	padding:0;	
}
.globalWrap {
	width:1000px;
	overflow:hidden;
	margin:0 auto;	
	background-image:url(images/global_wrap_bg.gif);
	background-position:left top;
	background-repeat:repeat-y;
}
.content-frame {
	padding:10px;	
	background-color:#fff;
}
/*META DATA*/
.page-meta-data {
	clear:both;	
	background-image:url(images/pageinfo_bg.gif);
	background-repeat:repeat-x;
	padding:0 5px;
	margin:0 0 20px 0;
	display:block;
}
.page-meta-data h3 {
	border:0;	
	color:#333;
	font-size:18px;
	height:35px;
	
}
.meta-link {
	float:right;
	padding-top:5px;	
}
/*Position CSS*/
.br {
	clear:both;	
}
.fr {
	float:right;	
}
.first {
	margin-left:0 !important;
	margin-top:0 !important;	
}
.last {
	margin-bottom:0 !important;	
}
/*TITLE AND HEADER*/
.header-sub {
	color:#999;
	padding-left:10px;
}
.page-restricted {
	padding-left:20px;
	background:left center url(images/icon-key.gif) no-repeat;
}
/*PAGE ALERTS*/
#deki-page-alerts div.toggle {
	padding:0;
	border:0;
	background:none;	
}
#deki-page-alerts form {
	font-size:11px;
	padding:3px;
	-moz-border-radius:3px;	
}
/*SITE MAST*/
.site-mast {
	background-image:url(images/mast_bg_repeat.gif);
	background-position:center bottom;
}
.site-mast a {
	display:block;
	text-align:center;	
	background-image:url(images/mast_bg.gif);
	background-position:center bottom;
	background-repeat:no-repeat;
	min-height:60px;
	padding:5px 0;
}
/*SITE AUTH*/
.site-auth {
	background-image:url(images/userauth_bg.gif);	
	background-position:center bottom;
	background-repeat:no-repeat;
	padding-right:10px;
	height:60px;
}
.site-auth .user-name {
	display:block;
	padding:7px 5px 7px 65px;	
}
.site-auth .user-name a {
	font-weight:bold;
	color:#333;	
}
.site-auth .user-logout {
	float:right;
}
.site-auth .user-register,
.site-auth .user-login {
	margin-top:5px;
	float:right;
	clear:right;	
}
.site-auth .user-register a,
.site-auth .user-login a,
.site-auth .user-logout a {
	color:#333;	
}
/*SITE SIDE*/
.site-side {
	background-color:#fff;
	float:left !important;
	width:190px;
	margin-right:10px;
}
/*SITE CONTENTS*/
.content-frame {
	overflow:hidden;
	height:100%;
}
.site-content {
	padding:0;
	margin:0;
	float:left;
	width:800px;
}
/*SITE NAVIGATION*/
.site-nav {
	background-image:url(images/sitenav_bg.gif);	
	height:60px;
}
.site-nav ul {
	margin:0 0 0 10px;
	padding:31px 0 0 0;
}
.site-nav li {
	float:left;
	list-style-type:none;
	padding:0 5px;
}
.site-nav span,
.site-nav a:visited,
.site-nav a {
	font-size:12px;
	color:#fff;
	font-weight:bold;
	display:block;
	height:20px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-topleft:3px;
	padding:5px 5px 3px 5px;
}
.site-nav span:hover,
.site-nav a:hover {
	text-decoration:none;
	background-color:#a6b76a;
	cursor:pointer;
	color:#fff;
}
/*PAGE NAVIGATION*/
.page-nav {
	height:60px;
	background-image:url(images/pagebar_bg.gif);	
}
.page-nav ul {
	margin:0 0 0 10px;
	padding:0;	
}
.page-nav li {
	float:left;
	list-style-type:none;
	padding:0 5px;
}
.page-nav li span,
.page-nav li a {
	display:block;
	height:20px;
	padding:40px 5px 0 5px;
	color:#666;	
}
.page-nav li span:hover,
.page-nav li a:hover {
	text-decoration:none;
	background-color:#b7c6ce;	
	cursor:pointer;
}
/*PAGE NAVIGATION OPTIONS*/
.page-nav li a {
	background-repeat:no-repeat;
	background-position:center 10px;
}
.page-edit a {
	background-image:url(images/icon_edit.gif);	
}
.page-add a {
	background-image:url(images/icon_add.gif);	
}
.page-print a {
	background-image:url(images/icon_print.gif);	
}
/*LEFT NAVIGATION*/
#siteNavTree {
}
#siteNavTree a {
	width:auto !important;	
	font-size:11px;
	display:block !important;
	color:#333;
	
}
#siteNavTree div.childNode, 
#siteNavTree div.selectedChild {
	background-image:url(images/nav_selectedchild.gif);
}
#siteNavTree div.sibling, 
#siteNavTree div.dockedNode {
	background-image:url(images/nav_childnode.gif);
}
#siteNavTree a:hover {
	background-image:url(images/nav_selectedchild.gif);
}
#siteNavTree div.homeNode {
	background:none;
	font-weight:bold;
}	
/*PAGE TITLE*/
.pageTitle {
	border-bottom:1px solid #E6E6E6;
}
/*BREADCRUMBS*/
.dw-hierarchy {
	font-size:11px;
	margin:5px 0 10px 0 ;
	display:block;
}
/*SITE HISTORY*/
.page-revision {
	background-image:url(images/page_revision_bg.gif);
	float:right;
	height:60px;
	width:260px;
}
.page-revision span {
	display:block;
	padding:12px 10px 0 50px;	
}
/*POWERED BY MINDTOUCH*/
.powered-by {
	margin:0 auto;
	width:1000px;
	padding:10px 0;
	background-color:#CEDD9D;
	text-align:center;
}
.powered-by a:visited,
.powered-by a {
	color:#333;	
}
/*SUCCESS / ERROR MESSAGE*/
.upgrade,
.successmsg,
.errormsg,
.systemmsg,
.contentUndelete {
	border:1px solid #f8f0a9;	
	padding:5px;
	background-color:#fefbe1;
	margin:5px 0;
}
/*PAGINATION*/
.deki-pagination {
	padding:5px 0;
	overflow:hidden;
}
.deki-pagination div {
	padding:0;
	margin:0;
	float:left;
	color:#999;
	font-size:11px;
}
.deki-pagination div.prev {
	width:20%;
}
.deki-pagination div.info {
	width:60%;
	text-align:center;
}
.deki-pagination .next {
	width:20%;
	text-align:right;
}
/*SEARCH PAGE*/
.site-search {
	float:right;
	width:190px;
	padding:5px 5px 0 0;	
}
.site-search select,
.site-search .text {
	width:110px;
	font-size:11px;
	padding:3px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	margin:0 0 2px 0;
}
.site-search select {
	margin:0;	
}
.site-search .button {
	font-size:11px;
}

/*SEARCH RESULTS*/
#searchResults {
	margin:10px 0;	
}
#searchResults .searchResults {
	margin:0 0 20px 0;
	font-weight:bold;	
}
#searchResults ul {
	margin:0;
	padding:0;
}
#searchResults li {
	margin:10px 0 ;	
	list-style-type:none;
	border-top:1px dotted #ccc;
	padding:5px 0;
}
#searchResults .icon {
	vertical-align:bottom;	
}
#searchResults li a {
	font-weight:bold;	
}
.deki-parsed-query {
	padding:5px;
	background:#f5f5f5;	
	border:1px solid #efefef;
	-moz-border-radius:3px;
}
/*SUBNAV*/
.deki-page-subnav {
	background:#efefef;
	padding:5px;
	-moz-border-radius:3px;
	margin:5px 0 5px 0;	
	overflow:hidden;
}
.deki-page-subnav ul,
.deki-page-subnav ul li {
	display:inline;
	padding:0;
}
.deki-user-autocomplete {
	background:#efefef;
	border:0;
	-moz-border-radius:5px;	
	padding:5px;
}
.deki-user-autocomplete table,  
.deki-user-autocomplete table td {
	border:0;
}
.deki-rclanguages {
	float:right;	
}
.deki-rc-feeds {
	float:none;
	padding:3px;	
}
.deki-feedlist a {
	margin-left:10px;	
}
/*DROPDOWN CSS*/
.page-nav .drop-arrow span,
.site-nav .drop-arrow span {
	padding-right:20px;	
	background-image: url(images/drop_grey.gif);
	background-repeat:no-repeat;
}
.site-nav .drop-arrow span {
	background-position:right 13px;
}
.page-nav .drop-arrow span {
	background-position:right 48px;
}
.page-nav .drop-down,
.site-nav .drop-down {
	display:none;	
	position:absolute;
	background:#e4ebee;
	border:1px solid #bbc7cf;
	border-top:0;
	margin:0;
	padding:5px;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	z-index:10;
}
.page-nav .drop-down li,
.site-nav .drop-down li {
	margin:0;
	padding:0;
	float:none;
	display:block;
	border-bottom:1px dotted #bbc7cf;
}
.page-nav .drop-down li.last,
.site-nav .drop-down li.last {
	border:0;	
}
.page-nav .drop-down a:visited,
.site-nav .drop-down a:visited,
.page-nav .drop-down a,
.site-nav .drop-down a {
	display:block;
	white-space:nowrap;
	color:#333;
	min-width:150px;
	font-weight:100;
	padding:3px 5px;
	-moz-border-radius:0;
	font-size:11px !important;
}
.page-nav .drop-down a:hover,
.site-nav .drop-down a:hover {
	background-color:#bbc7cf;
}
/*PAGE STATS*/
.page-stats {
	padding:5px;	
}
.page-stats span {
	display:block;	
	padding:0 0 5px 0;
	color:#666;
}
/*RELATED PAGES*/
.related-tag {
	margin:0 0 10px 0;	
}
/*DMENU*/
.deki-file-menu li a {
	padding:5px;
	display:block;
}
.deki-file-menu li a:hover {
	text-decoration:none;
	background:#efefef;	
}
.deki-file-menu li a .icon {
	margin-right:5px;	
	vertical-align:middle;
}
/*COMMENTS*/
.commentMore {
	margin:0 0 10px 0;	
}
.commentNum {
	float:left;	
}
.comment {
	margin:5px 0;
	padding:5px;
	border-bottom:1px solid #efefef;
}
.comments .commentText {
	margin:0 0 0 50px;
}
.commentActions {
	float:right;
	margin:0 0 0 20px;
}
textarea.commentText {
	width:70%;
	height:80px;
	padding:5px;	
}
/*IE6*/
* html body {
	text-align:center;	
}
* html body .content-frame {
	width:780px;
}
* html body .site-nav li {
	display:inline;
	width:auto;
}
* html body .site-head,
* html body .global {
	width:1020px;
	text-align:left;
}
* html body .site-logo {
	padding:3px 3px 0 3px;	
}
* html body .comment {
	padding-top:0 ;
}

* html body td, th {
	font-size:12px;
}
* html body .dmenu-body {
	text-align:left;	
}
/*SiteNav and PageNav*/
* html body .page-nav li span, 
* html body .page-nav li a,
* html body .site-nav li span, 
* html body .site-nav li a {
	display:inline !important;
	width:auto;
}
* html body .site-nav li,
* html body .page-nav li {
	display:inline;
	width:auto;
}
* html body .site-nav li span.a,
* html body .site-nav li a,
* html body .page-nav li span.a,
* html body .page-nav li a {
	height:20px !important;
	display:block !important;
	width:60px;
	text-align:center;
}
* html body .site-nav li.recent a {
	width:100px;
}
* html body .page-nav li span.a,
* html body .site-nav li span.a {
	width:40px;	
}
* html body .page-nav .drop-down a,
* html body .site-nav .drop-down a {
	width:100%;
}
/*Drop Down Menus*/
.drop-down li a {
	text-align:left !important;	
	width:130px !important;
	padding:5px;
	margin:0 !important;
	display:block !important;
}
