/***
 * Styles specific to Customize Wiki
 */
div.set tr.name td {
	padding-bottom: 26px;
}

div.set tr.lang td {
	padding-bottom: 10px;
}

div.box {
	margin-top: 18px;
}

div.box p.explain {
	padding-bottom: 20px;
	font-size: 9pt;
}

div.box div.title1,
div.box div.title2 {
	padding-bottom: 4px;
}

div.box ul.lang1,
div.box ul.lang2 {
	font-size: 9pt;
	width: 175px;
	height: 225px;
	overflow: auto;
	border: 1px solid #9c9c9c;
	padding: 3px 8px;
}

img.remove {
	float: left;
	margin-top: 10px;
}

input#box {
	width: 450px;
	height: 190px;
	float: left;
}

div.top p,
div.bottom p {
	float: left;
	font-size: 11px;
	padding: 0 0 3px 44px;
}

div.left {
	float: left;
}

div.right {
	float: left;
}

div.buttons {
	float: left;
}

div.buttons #add {
	background: url(images/add.gif) no-repeat center center;
	margin: 100px 18px 12px 18px;
}

div.buttons #remove {
	background: url(images/remove.gif) no-repeat center center;
	margin: 0 18px;
}

div.group,
div.type {
	overflow: scroll;
	height: 100px;
	width: 200px;
	margin: 10px 0 30px 0;
}

div.type {
	float: right;
	margin-right: 400px;
}

div.top {
	padding-bottom: 18px;
}

#file {
	float: left;
	padding: 16px 0 8px 5px;
}
/***
 * Logo styles
 */
div.setlogo {
	overflow: hidden;
}
div.setlogo div.preview {
	float: right;
}
div.setlogo div.preview div.logopreview {
	border: 1px solid #7a7a7a;
	background: url(images/bg-box.gif);
}
div.setlogo span.dimensions {
	position: absolute;
	text-align: right;
	vertical-align: bottom;
	margin-top: 2px;
	margin-right: 2px;
	font-size: 11px;
	color: #000;
}
div.setlogo span.dimensions span {
	padding: 2px;
	background-color: #fefefe;
	color: #444;
	opacity: 0.6;
}

div.file {
	margin-top: 12px;
}

form.logo div.field,
form.skins div.field {
	padding-left: 6px;
}

form.logo div.submit {
	margin: 10px 0 0 0;
}

form.logo div.submit button.gray {
	margin-left: 4px;
}

/***
 * Skin previews
 */ 

div.preview {
	padding: 0 0 20px 0;
}
div.previews {
	width: 725px;
	border: 1px solid #9c9c9c;
	margin-top: 12px;
	overflow: auto;
}
div.thumbnails {
	float: left;
	overflow: auto;
	width: 315px;
	text-align: center;
}
div.thumbnails ul li {
	display: inline-block;
	width: 110px;
	padding: 5px 15px;
	font-size: 10px;
	min-height: 90px;
}
div.thumbnails li label {
	white-space: nowrap;
	display: block;
	margin-top: 3px;
	overflow: hidden;
	text-align: center;
}

.skin-display-options {
  background: #eaeaea;
  width: 300px;
  padding: 0px 3px;
  border: 1px solid #ccc;
}

.skin-display-options label {
  padding-right: 10px;
}

/* ie6 styles */
* html body div.previews {
	width: 550px;
	border: 1px solid #9c9c9c;
	margin-top: 12px;
	overflow: auto;
}
* html body div.thumbnails {
	float: left;
	overflow: auto;
	width: 160px;
	text-align: center;
}
* html body div.thumbnails ul li {
	padding: 6px;
	font-size: 9px;
	min-height: 90px;
}
/* /ie6 styles */

div.thumbnails ul li:hover {
	background-color: #e3f3f8;
}
div.thumbnails ul li.selected {
	background-color: #fff799;
	font-weight: bold;
}
div.screenshot, 
div.thumbnails {
	height: 300px;
}

div.screenshot {
	float: right;
	width: 390px;
	background: transparent url(images/skinning_noskin.png) no-repeat center center;
}

div.screenshot div.label-preview {
	padding: 8px 0;
	text-align: center;
}

div.screenshot div.image {
	background: transparent no-repeat center center;
	width: 390px;
	height: 220px;
}

div.code-links {
	text-align: center;
	padding-top: 16px;
}

div.code-links a {
	text-decoration: underline;
	padding: 0 14px;
	color: #454545;
}

img.skin {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.current {
	padding: 0 0 16px 0;
}

div.current button {
	margin-left: 16px;
	background-color: #d7d7d7;
	border-color: #d7d7d7;
	color: #000;
}

div.input {
	padding-bottom: 18px;
}

div.input div.export {
	float: right;
	padding-right: 10px;
}

div.input div.export a {
	text-decoration: underline;
	background: url(images/icons/application_go.png) no-repeat center left;
	padding-left: 20px;
}

div.input p {
	padding-bottom: 3px;
}

div.input textarea {
	width: 98%;
	margin-top: 4px;
}

div.section {
	overflow: hidden;
}

form fieldset {
	border: 1px solid #a1a1a1;
	padding: 12px;
	margin-bottom: 20px;
	width: 260px;
}

form fieldset legend {
	padding: 0 4px;
}

form fieldset div.radio {
	margin: 0 0 10px 0;
}

form fieldset div.radio label {
	margin: 0 20px 0 4px;
	position: relative;
	top: -3px;
}

form fieldset button {
	margin-top: 6px;
	background-color: #d7d7d7;
	border-color: #d7d7d7;
	color: #000;
}

/***
 * Custom HTML
 */

div.example {
	float: right;
	padding: 20px 0 0 0;
}

div.example p {
	font-size: 11px;
	text-align: center;
	padding-bottom: 6px;
}

div.input-html {
	padding-bottom: 20px;
}

div.input-html textarea {
	width: 65%;
}

form.custom-html div.submit {
	margin-top: 0;
}

div.dekiFlash ul.noareas {
	background-image: url(images/icons/error.gif);
	background-color: #fff1d7;
}

/***
 * FCKeditor configuration
 */ 
form.editorconfig textarea {
	width: 100%;
	height: 240px;	
}
form.editorconfig div.block {
	margin: 0 8px 8px 0;
	padding: 0;
}
