/**
 * Public error styles
 */
#application-error h2 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 125%;
}

#application-error p.error {
	font-weight: bold;
	margin: 10px 10px 10px 0;
}

#application-error div.block {
	float: none;
	margin: 10px;
}

#application-error textarea {
	width: 95%;
	height: 125px;
}
