body {
	min-width: 974px;
}

div.content {
	padding-top: 4px;
}

div.wrap {
	min-width: 964px;
	max-width: 1208px;
}
div.subheader {
	margin: 4px 0;
}

form fieldset div.radio {
	margin-top: 6px;
}

form fieldset div.radio label {
	top: 0;
}

textarea {
	width: 98%;
}

div.field,
div.password-instructions {
	padding-left: 4px;
}

/*Dashboard - Demo Videos */

#dashboard div.column {
	width: 19%;
}
div.videos {
	padding: 4px 0;
}

#dashboard div.content {
	padding: 8px;
}

/* Users */

#user_management div.content {
	padding: 8px;
}

#user_management div.groups,
#user_management fieldset.external {
	display: block;
}

/* Groups - Manage Group */

form.addtogroup div.submit button {
	margin-right: 16px;
}

form.addtogroup div.submit span.or {
	margin: 0 20px 0 6px;
}

/* Logos & Skins */

#skinning div.setlogo div.submit {
	margin: 10px 0 16px 0;
}

/* Config - Advanced Settings */
div.commands div.selected {
	padding: 3px 6px 0 0;
}

/* Email Settings */

div.field input {
	margin-top: 0;
}

/* Product Activation */

#product_activation div.license pre {
	font-size: 9px;
}
