html {
	background: #B3E0DB url(images/bg_gradient_blue.png) repeat-x scroll center top;
}

div.return {
	background-color: #000;
	padding: 8px 16px;
}

div.return,
div.welcome {
	width: 100%;
	float: none;
}

div.return a {
	background: url(images/home_icon.png) no-repeat center left;
	padding: 0 0 0 20px;
	color: #cfcfcf;
	text-decoration: none;
	font-size: 14px;
}

div.return a:hover {
	background: url(images/home_over_icon.png) no-repeat center left;
	color: #fff;
	text-decoration: underline;
}

div.login-logo {
	margin: 50px auto 16px;
	width: 350px;
	height: 50px;
	background: url(images/logo_login.gif) no-repeat center;
}

div.login-logo span {
	display: none;
}

div.login {
	margin: 0 auto;
	background-color: #fff;
	border: 3px solid #454545;
	width: 350px;
}

form {
	padding: 30px 0 30px 26px;
}

div.block {
	padding-top: 10px;
}

input {
	padding: 2px;
	margin-bottom: 10px;
	width: 280px;
}

select {
	width: 290px;
}

div.submit {
	margin-top: 24px;
}

button {
	font-size: 14px;
}