/***
 * Maintenance & History-specific styles
 */

button.white {
	font-weight: normal;
}
div.content tr th.sort a {
	background: url(images/sort.gif) no-repeat center right;
	padding-right: 22px;
	color: #000;
}

div.content tr td a.expand {
	background: url(images/plus.gif) no-repeat center left;
	padding-left: 16px;
	color: #000;
}
div.content tr td a.contract {
	background: url(images/minus.gif) no-repeat center left;
	padding-left: 16px;
	color: #000;
}
div.content tr td span.expand {
	padding-left: 16px;
}

#custom-date { margin-left: 6px; }

div.text {
	padding: 0 0 14px 8px;
}

div.action {
	margin: 20px 29px;
	color: #9C9C9C;
}

div.action span.or {
	margin: 0 20px;
}

div.action a {
	color: #9c9c9c;
}

div.action button {
	background-color: #9d0303;
	padding: 3px 5px;
	border-color: #9d0303;
}

div.action button.restore {
	color: #fff;
}

div.actions ul li button.restore span {
	background: url(images/icons/application_go.png) no-repeat center left;
}

div.actions ul li button.wipe span {
	background: url(images/icons/cancel.gif) no-repeat center left;
}

div.warnings {
	background-color: #fffbc5;
	padding: 8px 8px 0 8px;
	border: thin solid #dedede;
	margin: 10px 0;
}

dl.status { padding: 0.5em; } 

dl.status dt { 
	float: left; 
	width: 100px; 
	font-weight: bold; 
} 

dl.status dd { 
	margin: 0 0 0 110px; 
	padding: 0 0 0.5em 0; 
}

div.warnings ul li {
	background: url(images/error.gif) no-repeat top left;
	padding: 0 0 12px 24px;
}

div.warnings ul li a {
	text-decoration: underline;
}

tr.bg2 label.branch {
	background: url(images/branch.gif) no-repeat center left;
}

label.branch {
	padding-left: 15px;
}

div.list ul {
	padding: 10px 0 0 42px;
}

div.list ul li {
	list-style-type: disc;
	line-height: 2;
}

/***
 * Page restore
 */
div.searchform {
	text-align: right;
	margin: 0 0 12px 0;
	overflow: hidden;
}
div.searchform form {
	float: right;
}
div.content tr td a.expand:hover {
	text-decoration: none;	
}
div.preview {
	border-top: 2px solid #eee;
	margin-top: 12px;
}
div.preview div.body {
	padding: 0 20px;
}
div.preview h1 {
	font-weight: bold;
	font-size: 18px;
}
div.preview h1, 
div.preview p {
	margin: 0.6em 0;	
}

/***
 * File restore
 */
#filerestore div.info {
	font-size: 11px;
	padding: 3px 24px;
}
#filerestore div.commands {
	padding-top: 0px;
}

/***
 * Cache management
 */
form.caches div.button {
	float: left;
	margin: 6px 0 0 6px;
}

form.caches div.field {
	margin: 12px 0 24px 0 ;
}

div.def {
	padding: 0 0 0 130px;
}

div.description,
ul.cache-options {
	padding-left: 8px;
}

div.cache-options {
	padding: 10px 0 6px 8px;
}

ul.cache-options li {
	padding-bottom: 4px;
}

ul.cache-options li input {
	margin-right: 4px;
}

ul.cache-options li label {
	position: relative;
	top: -3px;
}

div.progress {
	background-color: #feefef;
	border: 1px solid #dedede;
	padding: 6px;
	margin: 16px auto;
	width: 75%;
}

span.items {
	font-weight: bold;
}

/***
 * form bans
 */
form.bans table {
	margin-left: 8px;
}
form.bans div.submit {
	margin-left: 8px;
	margin-top: 10px;
	margin-bottom: 20px;
}