
a {
	color: #000;
	text-decoration: none;	
}
a:hover {
	text-decoration: underline;
}
h2 {
	padding: 0 0 2px 0;
}
p {
	line-height: 1.2;
	font-size: 11px;
}

p.date {
	color: #8c8c8c;
	padding: 0 0 4px 0;
}
div.block {
	padding-top: 3px;
	padding-bottom: 9px;
}
