/***
 * Styles specific to Users & Groups
 */
 
div.actions ul li button.activate span {
	background: url(images/icons/activate.gif) no-repeat center left;
}

div.actions ul li button.deactivate span {
	background: url(images/icons/deactivate.gif) no-repeat center left;
}

div.actions ul li button.group span {
	background: url(images/icons/groups.gif) no-repeat center left;
}

div.actions ul li button.role span {
	background: url(images/icons/roles.gif) no-repeat center left;
}

div.actions ul li button.delete span {
	background: url(images/icons/cancel.gif) no-repeat center left;
}

div.content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 26px;
}

div.content div.instructions {
	padding: 0 0 18px 2px;
}

table span.owner {
	padding-left: 20px;
	background: url(images/icons/owner.png) no-repeat center left;
}

tr.bg2 th a {
	color:#000;
}

div.success a {
	text-decoration: underline;
}

input#role {
	width: 100px;
	margin-top: 3px;
}

input#text {
	padding: 2px;
	width: 260px;
}

input#name {
	padding: 2px;
	width: 150px;
	margin-left: 8px;
}

tr.buttons td button {
	margin: 16px 0;
}

tr.buttons {
	text-align: center;
}

div.content th.end,
div.content td.end {
	border-right: none;
}

div.stats {
	width: 300px;
}
div.userindex {
	background: url(images/bg-line.gif) repeat-y left;	
	padding-bottom: 5px;
}
div.userindex div.title {
	margin-top: 0;
}
div.new {
	float: right;
	width: 530px;
}

div.new p {
	padding: 8px 0 16px 16px;
}

div.new div.title {
	margin-left: 10px;
}


div.edit div.title {
	margin-bottom: 10px;
}

div.stats ul.stats {
	line-height: 2.5;
	padding: 5px 0 0 8px;
}

div.stats a.set {
	float: right;
	padding: 3px 6px 0 0;
}

div.errors {
	float: right;
	color: #9d0303;
	font-size: 11px;
	line-height: 4.3;
	padding-top: 2px;
}

span.error {
	color: #9d0303;
	padding-left: 10px;
	font-weight: bold;
}

div.new form div {
	margin-left: 16px;
}

div.new form input#text {
	width: 240px;
}

div.field {
	padding-bottom: 10px;
}

div.field input.box {
	width: 400px;
	height: 150px;
}

#radio {
	margin: 0 4px 0 8px;
}
form.usertogroups h5,
form.usertoroles h5 {
	margin-top: 5px;	
}
form.usertogroups label,
form.usertoroles label {
	padding-left: 3px;
}
form.usertogroups th,
form.usertoroles th {
	background-color: #6b6b6b;
	color: #fff;	
}
form.usertogroups p,
form.usertoroles p {
	margin: 0 0 8px 0;	
}

div.groups,
fieldset.external {
	margin: 5px 0;
	border: 1px solid #cfcfcf;
	line-height: 2;
	padding: 4px 6px;
	width: 450px;
	display: block; /* todo for jessicar: why is this necessary for ie7 */
}

form.usertogroups div.groups {
	margin-bottom: 20px;
}

div.groups span.field {
	display: block;
}
div.groups span.selected {
	background-color: #fffbca;
}

fieldset.external input {
	margin: 6px 0;
}

fieldset.external input#password-external_auth_password {
	margin-left: 5px;
}

form.add-user div.select-title {
	padding-top: 10px;
}

div.groups-large {
	overflow: scroll;
	overflow-x: hidden;
	width: 340px;
	height: 220px;
}

form.groups div.submit {
	margin-top: 0;
}

fieldset ul.right {
	float: right;
	width: 250px;
}

fieldset ul.left {
	width: 200px;
}

fieldset ul li input {
	margin-right: 8px;
}

#users {
	float: right;
	color: #9c9c9c;
	padding: 3px;
	background: url(images/icons/magnify.gif) no-repeat center right;
}

a.viewall,
a.addsingle,
a.addtogroup,
a.addmultiple,
a.addauth {
	background: url(images/icons/addMult.gif) no-repeat center left;
	padding: 0 16px 0 22px;
	text-decoration: underline;
	margin-top: 2px;
}
a.addsingle {
	background: url(images/icons/addUser.gif) no-repeat center left;
}
a.viewall {
	background: url(images/icons/view_all.gif) no-repeat center left;
}
a.addauth {
	background: url(images/icons/key_add.gif) no-repeat center left;
}
div.title a.addmultiple,
div.title a.addsingle,
div.title a.viewall {
	float: right;
	font-size: 12px;
	padding: 2px 8px 2px 22px;
}
#group_management a.addtogroup {
	font-size: 13px;
	margin: 0;
}

div.add a {
	float: right;
	background: url(images/icons/database_add.gif) no-repeat center left;
	padding: 3px 10px 0 20px;
	color: #000;
}

div.custom a {
	float: right;
	background: url(images/icons/database_edit.gif) no-repeat center left;
	padding: 3px 10px 0 20px;
	color: #000;
}

#contributor {
	color: #000;
	float: right;
	padding: 3px;
	background: url(images/icons/magnify.gif) no-repeat center right;
}

div.results {
	font-size: 13px;
	padding: 10px 0 0 4px;
}

th.sort a {
	color: #000;
	background: url(images/icons/sortArrow.gif) no-repeat center right;
	padding-right: 16px;
}

div.command {
	padding: 0 0 10px 4px;
}

div.command a {
	color: #000;
}

div.suggest {
	background: url(images/icons/error.gif) no-repeat center left;
	padding-left: 24px;
}

div.suggest a {
	text-decoration: underline;
}

div.ban {
	background: url(images/icons/banned.gif) no-repeat center left;
	padding-left: 18px;
	margin-top: 16px;
	float: right;
}

span.banned {
	background: url(images/icons/banned.gif) no-repeat center right;
	padding-right: 20px;
}

div.button {
	margin: 18px 0 0 16px;
}

div.both {
	background: url(images/icons/cross.gif) no-repeat center left;
	padding-left: 24px;
	margin-top: 10px;
}

div.negative a {
	text-decoration: underline;
}

select.roles {
	margin: 0 0 30px 10px;
}

div.commands a {
	font-size: 10px;
	color: #000;
}

div.left {
	float: left;
	margin-right: 20px;
}

div.right {
	float: left;
	margin-left: 20px;
}

div.set {
	overflow: auto;
}

div.set p {
	padding-top: 6px;
}

div.title1,
div.title2 {
	font-size: 11px;
}
/***
 * Set to user
 */
form.addtogroup div.field {
	padding: 0 0 0 10px;
	margin: 0;
}
form.addtogroup div.submit {
	margin: 0;
	padding: 0;
}
form.addtouserlist table th {
	background-color: #6b6b6b;
}
form.addtouserlist table th a {
	color: #fff;
}
form.addtouserlist table th a.sort {
	background: url(images/sortDefault_dark.gif) no-repeat center right;
	padding-right: 30px;
	white-space: nowrap;
}
form.addtouserlist table th a.asc {
	background: url(images/sortUp_dark.gif) no-repeat center right;
}
form.addtouserlist table th a.desc {
	background: url(images/sortDown_dark.gif) no-repeat center right;
}
div.find {
	padding: 14px 0 0 0;
}

div.find input.set {
	width: 180px;
	padding: 2px;
	margin: 2px 0 10px 0;
}

div.set ul.users1,
div.set ul.users2 {
	font-size: 9pt;
	width: 170px;
	height: 225px;
	overflow: auto;
	border: 1px solid #9c9c9c;
	padding: 3px 8px;
}

div.lists {
	margin: 4px 0 0 10px;
}

div.set ul.users1 li,
div.set ul.users2 li {
	line-height: 1.8;
}

div.title1,
div.title2 {
	padding-bottom: 4px;
}

div.buttons {
	display: block;
	width: 50px;
	float: left;
	padding-top: 165px;
}

div.buttons a.add {
	display: block;
	background: url(images/grayBtn.png) no-repeat center center;
	width: 68px;
	height: 17px;
	color: #000;
	text-align: center;
}

div.buttons a.remove {
	display: block;
	float: left;
	background: url(images/grayBtn.png) no-repeat center center;
	width: 68px;
	height: 17px;
	color: #000;
	text-align: center;
	margin-top: 16px;
}

div.buttons a:hover {
	text-decoration: none;
}

div.save {
	float: left;
}

div.footer2 {
	float: right;
	font-size: 9pt;
	padding-top: 3px;
	color: #fff;
}

/***
 * Add group
 */
form.groups div.authentication span.field {
	margin-left: 12px;
}

fieldset.external legend {
	padding: 0 6px;
}

fieldset.external span {
	padding-left: 6px;
}

/***
 * Group listing
 */
table.groups th.groupedit {
	background: #eee url(images/icons/pencil.gif) no-repeat center center;
}

table.groups th.groupusers {
	background: #eee url(images/icons/set_groups.gif) no-repeat center center;
}

table.groups th.groupedit span, 
table.groups th.groupusers span {
	display: none;	
}
table.groups td.groupedit, 
table.groups td.groupusers {
	text-align: center;
}

form.groupsearch {
	float: right;
}

a.noexternal {
	color: #808080;
	cursor: help;	
}
/***
 * Group management - set users
 */
#group_management div.multiple {
	float: right;
}
#group_management div.field {
	padding-bottom: 20px;	
}

/***
 * Manage group
 */

form.addtouserlist button.remove span {
	background: url(images/icons/cancel.gif) no-repeat center left;
	padding-left: 20px;
	cursor: pointer;
	text-decoration: underline;
}

/***
 * Banning
 */
div.content table.ban {
	margin: 10px 0 0 10px;
}

div.content table.ban th {
	border-right: none;
	padding: 4px 0 4px 10px;
	background-color: #eee;
	border-bottom: #9c9c9c thin solid;
}

div.content table.ban td {
	border-right: none;
	padding: 6px 0 10px 12px;
}

form.ban div.submit {
	margin: 12px 0;
}

form.ban div.field span.field {

}

/*** 
 * User management default page
 */ 

div.usersearch form.search {
	padding: 20px 0 20px 20px;
}
div.usersearch {
	width: 300px;
	float: left;
}

/***
 * User management listing screen
 */
form.usersearch {
	float: right;
}
tr.deactivated {
	color: #777777;
}

form.edit h3 {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 10px;
}

/***
 * Add user
 */

div.passwords div.password {
	float: left;
	width: 230px;
	padding-bottom: 4px;
}

div.passwords div.verify {
	padding: 0 0 4px 240px;
}

div.password-instructions {
	font-size: 11px;
	font-style: italic;
	color: #767676;
	padding-bottom: 10px;
}

form.add-user small,
form.edit small {
	font-style: italic;	
}

div#deki-userauth {
	padding-top: 10px;
}

select#select-role_id {
	margin-left: -2px;
}

div.status {
	padding-top: 10px;
}

/**
 * Add Multiple Users
 */

form.userstogroups #textarea-user_csv {
	margin-top: 2px;
}

form.userstogroups textarea.deki-default-value {
	color: #767676;
}

/***
 * Role management
 */
form.roles table td.operations {
	text-align: left;
}
form.roles table th, 
form.roles table td {
	text-align: center;	
}

form.roles table tr.save td {
	background-color: #fff;
	border: none;
	padding: 12px 3px;
}
form.roles table th.add {
}
form.roles table th.add span {
	background: url(images/add.gif) no-repeat center left;
	padding-left: 18px;
}
form.roles table th.add input {
}

/**
 * Authentication
 */
table.table th.default,
table.table td.default {
	text-align: center;
}
table.table td.default a {
	width: 100%;
	height: 20px;
	display: block;
}
table.table td.default-yes a {
	background: transparent url(images/icons/tick.gif) no-repeat center center;
}
table.table td.default-no a {
	background: transparent url(images/icons/default_quicklink.gif) no-repeat center center;
}
table.table td.default span {
	display: none;
}

div.services ul {
	float: left;
	width: 150px;
	margin: 10px 0 0 0px;
	height: 470px;
	overflow: scroll;
	overflow-x: hidden;
	padding: 0 10px;
	border: 1px solid #a6a6a6;
}
div.services ul li a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
	display: block;
	background-color: #fff;
	padding: 8px 0;
	margin: 10px 0;
	background-color: #eee;
	text-align: center;
	border: 1px solid #a2a2a2;
}
div.services ul li.selected a {
	background-color: #ffeecc;
}
div.services ul li a:hover {
	background-color: #454545;
	color: #fff;
}

div.list {
	float: left;
	margin: 14px 0 0 10px;
}
div.list p {
	padding: 4px 0 16px 8px;
}

div.configtable {
	margin-left: 0;
}

div.configtable div.options {
	margin: 0 0 8px 0;
}

/**
 * Role select section
 */
div.role-operations {
	padding-top: 10px;
	display: block;
	font-size: 8pt;
	color: #555;
}