table#mantis-table th {
	cursor:pointer;
}


/*Closed Rows*/
table#mantis-table tr.closed td {
    background-color:#efefef;
}

table#mantis-table tr.closed td.block severity {
    font-weight:bold;
}

/*Resolved Rows*/
table#mantis-table tr.resolved td {
    background-color:#e6f8ef;
}

table#mantis-table tr.resolved td.tweak {
    background-color:#def6ea;
}

table#mantis-table tr.resolved td.minor {
    background-color:#d5f4e4;
}

table#mantis-table tr.resolved td.major {
    background-color:#aeeccc;
}

table#mantis-table tr.resolved td.crash {
    background-color:#71dca5;
}

table#mantis-table tr.resolved td.block {
    background-color:#4dd38e;
}

table#mantis-table tr.resolved td.block severity{
    font-weight:bold;
}


/*Assigned Rows*/
table#mantis-table tr.assigned td {
    background-color:#eeeeff;
}

table#mantis-table tr.assigned td.tweak {
    background-color:#e6e6ff;
}

table#mantis-table tr.assigned td.minor {
    background-color:#ddddff;
}

table#mantis-table tr.assigned td.major {
    background-color:#c6c6fe;
}

table#mantis-table tr.assigned td.crash {
    background-color:#a1a1fc;
}

table#mantis-table tr.assigned td.block {
    background-color:#a1a1fc;
}

table#mantis-table tr.assigned td.block severity{
    font-weight:bold;
}


/*Open Rows*/
table#mantis-table tr.new td {
    background-color:#ffe7e7;
}

table#mantis-table tr.new td.tweak {
    background-color:#fecece;
}

table#mantis-table tr.new td.minor {
    background-color:#fec2c2;
}

table#mantis-table tr.new td.major {
    background-color:#fea9a9;
}

table#mantis-table tr.new td.crash {
    background-color:#fd8585;
}

table#mantis-table tr.new td.block {
    background-color:#fd8585;
}

table#mantis-table tr.new td.block severity{
    font-weight:bold;
}