.clear {
	clear: both;
}

.deki-dashboard-group {
	border: 1px solid #ccc;
	margin-bottom: 5px;
	width: 383px;
}

.deki-dashboard-group-footer {
	background: #eaeaea;
	padding-top: 2px;
	padding-right: 10px;
	text-align: right;
}

#deki-activity-dashboard #col-left {
	float: left;
	overflow: hidden;
	width: 385px;
}

#deki-activity-dashboard #col-right {
	float: left;
	overflow: hidden;
	width: 385px;
	margin-left: 5px;
}

#deki-activity-dashboard .dashboard-title {
	font-weight: bold;
	font-size: 1.3em;
	padding: 3px 3px 3px 10px;
	margin: 0px 0px 5px 0px;
	border-bottom: 1px solid #ccc;
	background: #e9e9e9;
}

#deki-profile {
	overflow: hidden;
}

#deki-profile .profile-image {
	float: left;
	padding-left: 5px;
}

#deki-profile dl dt {
	float: left;
	clear: left;
	width: 90px;
}

#deki-profile .profile-details {
	float: left;
	padding-left: 10px;
	margin: 0px;
	width: 280px;
}

#deki-permissions .profile-details {
	padding-left: 10px;
	width: 290px;
}

#deki-recent-changes {
	float: left;
	clear: left;
}

#deki-recent-changes ul {
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#deki-recent-changes ul li {
	list-style-type: none;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	overflow: hidden;
}

#deki-recent-changes .recentchanges-details {
	padding-left: 10px;
}

#deki-recent-changes .recentchanges-change {
	font-size: 0.9em;
}

#deki-recent-changes .recentchanges-date {
	color: #aaa;
	float: right;
	font-size: 0.8em;
	padding-right: 10px;
}

#deki-recent-comments {
	overflow: hidden;
}

#deki-recent-comments .activity-avatar {
	width: 30px;
	float: left;
}

#deki-recent-comments .activity-name {
	padding-left: 5px;
}

#deki-recent-comments .activity-date {
	float: right;
	padding-left: 10px;
	font-size: 0.8em;
	color: #aaa;
}

#deki-recent-comments .activity-meta {
	overflow: hidden;
	position: relative;
	bottom: 4px;
}

#deki-recent-comments .activity-text {
	float: left;
	clear: left;
	padding-left: 5px;
	font-size: 0.9em;
}

#deki-recent-comments div.activity-comment {
	clear: both;
	border-top: 1px solid #e9e9e9;
	margin: 5px;
	padding: 5px;
}

.dashboard-message {
	padding: 5px 10px 10px 10px;
	color: #999;
}

#deki-recent-comments .dashboard-commercial-text {
	background: url("/skins/common/templates/images/activitystream-sample.png") no-repeat scroll center top transparent;
	height: 190px;
	padding-top: 60px;
}

#deki-recent-comments .dashboard-commercial-message {
	width: 275px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 18px;
	margin: 0 auto;
	opacity: 0.6;
	padding: 15px;
}

/* IE6 fixes */
* html body #deki-recent-comments .activity-meta {
	position: static;
}

* html body #deki-recent-comments .activity-name {
	float: left;
	padding-left: 5px;
}

* html body #deki-recent-comments .activity-page {
	float: left;
	padding-left: 5px;
}

* html body #deki-recent-changes {
	overflow: hidden;
	
}
