/* Styles available to all dekiscript templates */

div.error-dependency {
	padding: 8px 5px 8px 42px;
	background: #FFF9AE url("/skins/common/icons/icon-32-error.gif") no-repeat scroll 4px 4px;
	border: 1px solid #ABA000;
	font-weight: bold;
	font-size: 14px;
	color: #9D0A0E;
}

.error-dekiscript {
	font-weight: bold;
	font-size: 14px;
	color: #9D0A0E;
}
