/***
*General content styles
*/

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1 {
	font-size: 1.4em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

h4 {
	font-size: 0.9em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

h5 {
	font-size: 0.8em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

p {
	line-height: 1.4;
	padding: 0 0 0.8em 0;
}

a {
	color: #9d0303;
}

th {
	font-weight: bold;
}

tr {
	padding-bottom: 0.4em;
}

tr.feedroweven {
	background-color: #eee;
}

tr.feedrowodd td,
tr.feedroweven td {
	padding: 0.4em 0.5em;
	line-height: 1.4;
}

table.feedtable tr td a {
	padding-bottom: 0.3em;
}

div.breadcrumbs {
	padding: 0 0.2em 0.8em 0;
	font-size: 0.8em;
}

div.breadcrumbs a {
	color: #9d0303;
}

div.current {
	font-weight: bold;
	font-size: 0.9em;
}

div.contents {
	min-height: 250px;
	padding-left: 0.5em;
}

div.contents ul {
	padding: 0 0 0.8em 1.2em;
}

div.contents li {
	list-style-type: disc;
	line-height: 1.6;
}

div.contents img {
	padding: 0 0.3em;
}

div.userlogin {
	display: none;
}

div.toc {
	border: 1px solid #d5d5d5;
	margin: 0 0.5em 1.2em 0;
	background-color: #f2f2f2;
	-webkit-border-radius: 10px;
}

div.toc ol {
	padding: 0.5em 0;
}

div.toc ol li {
	margin-left: 1em;
	list-style-type: none;
	line-height: 1.8;
}

div.toc a {
	padding: 0 0 0.5em 0;
	color: #000;
	font-weight: bold;
}

ol.sub {
	margin-left: 2em;
}

ol.sub a {
	font-weight: normal;
}

div.toggle,
div.down {
	padding: 0.8em 0 0.8em 0.4em;
}

div.toggle a {
	background: url(images/triangle.png) no-repeat center left;
	padding-left: 1.2em;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

div.toggle a.disabled {
	filter: alpha(opacity=30);
	-webkit-opacity: 0.30;
}

div.down a {
	background: url(images/down.png) no-repeat center left;
	padding-left: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

div.share {
	padding: 0.8em 0 0.8em 0;
}

div.share form {
	margin-left: 0.3em;
}

div.share button {
	background: url(images/plus.png) no-repeat center left;
	width: 135px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	border: none;
	background-color: transparent;
	font-size: 1em;	
}

/***
*Comment-specific styles
*/

div.comments {
	background-color: #e9e9e9;
}

div.comments ul,
div.white ul {
	padding: 0.6em 0 0.6em 0;
}

div.comments ul li,
div.white ul li {
	list-style-type: none;
	line-height: 1.4;
	padding: 0 0.5em 0 1.2em;
}

div.comments ul li.username,
div.white ul li.username {
	font-weight: bold;
}

div.comments ul li.username a,
div.white ul li.username a {
	color: #9d0303;
	font-size: 0.9em;
}

div.comments ul li.datetime,
div.white ul li.datetime {
	color: #767676;
	font-size: 0.8em;
	float: right;
	padding-right: 1em;
}

div.comments ul li.text,
div.white ul li.text {
	font-size: 0.9em;
}

div.add input.comment {
	width: 100%;
	height: 10em;
	border-color: #d5d5d5;
	border-top: none;
	text-align: center;
}

div.add input.comment:focus {
	color: #9b9b9b;
}

input.delete {
	float: right;
	background-color: transparent;
	border: none;
	height: 18px;
	font-size: 0.9em;
	text-decoration: underline;
	color: #000;
	margin: 0.5em 0 0 0;
}

div.addcomment {
	padding: 0.8em 0 1em 0;
	font-size: 0.9em;
	border-top: 1px solid #e5e5e5;
}

div.addcomment input {
	width: 95%;
	height: 100px;
	border: 1px solid #d4d4d4;
	margin: 0.4em 0 0 0.5em;
	text-align: center;
	color: #9c9c9c;
}

div.addcomment button,
div.addcomment button.disabled {
	background: url(images/gray-bg.png) repeat-x center center;
	border: 1px solid #c4c4c4;
	width: 64px;
	height: 30px;
	margin: 0.8em 0 0 0.5em;
	font-size: 1em;
	-webkit-border-radius: 5px;
}

div.addcomment button.disabled {
	-webkit-opacity: 0.40;
	filter: alpha(opacity=40);
}

button#ajaxbutton {
	background: url(images/gray-bg.png) repeat-x center center;
	border: 1px solid #c4c4c4;
	width: 64px;
	height: 30px;
	margin-left: 0.5em;
	font-size: 1em;
	-webkit-border-radius: 5px;
}

/***
*Files-specific styles
*/

div.file {
	background: url(images/arrow.png) no-repeat right center;
	padding: 0.4em 0 0.4em 0.5em;
	width: 98%;
}

div.gray {
	background-color: #eee;
}

div.file div.filename,
div.file div.addedby,
div.file div.datetime {
	padding-bottom: 0.2em;
}

div.filename {
	color: #9d0303;
	text-decoration: underline;
}

div.file div.addedby {
	font-size: 0.8em;
}

div.file div.datetime {
	font-size: 0.8em;
	color: #767676;
}

div.file div.size {
	float: right;
	font-size: 0.8em;
	padding: 1.5em 3em 0 0;
	color: #454545;
}

/***
*Related pages-specific styles
*/

div.pages div.toggle,
div.tags div.toggle { 
	padding-left: 0.5em;
}

div.pages div.down,
div.tags div.down {
	padding: 0.8em 0 0.8em 0.5em;
}

div.pages ul,
div.tags ul {
	padding: 0 0 0 0;
}

div.tags ul li.notags {
	padding-left: 0.5em;
}

div.pages ul li,
div.tags ul li {
	list-style-type: none;
	padding: 0.8em 0 0.8em 1.8em;
}

div.pages ul li a,
div.tags ul li a {
	text-decoration: none;
	color: #000;
}

div.pages ul li.gray,
div.tags ul li.gray {
	background-color: #eee;
}

div.tags button.addtag {
	float: right;
	border: none;
	background: url(images/gray-bg.png) repeat-x center center;
	padding: 0.4em 0;
	-webkit-border-radius: 5px;
	margin: 0.5em 0.6em 0 0;
	font-size: 0.9em;
}

textarea.addtag {
	width: 95%;
	height: 150px;
	margin-top: 0.3em;
	border-color: #8a8a8a;
}

/***
*Search results-specific styles
*/

div.pagination {
	padding: 1em 0.5em;
}

div.right {
	float: right;
	background: url(images/search_right.png) no-repeat center center;
	width: 44px;
	height: 44px;
}

div.right a {
	display: block;
	width: 44px;
	height: 44px;
}

div.num {
	margin: 0 auto;
	width: 230px;
	text-align: center;
	padding-top: 0.8em;
}

div.left {
	background: url(images/search_left.png) no-repeat center center;
	width: 44px;
	height: 44px;
	float: left;
}

div.left a {
	display: block;
	width: 44px;
	height: 44px;
}

div.disabled {
	filter: alpha(opacity=30);
	-webkit-opacity: 0.30;
	-moz-opacity: 0.30;
	opacity: 0.30;
}

div.result {
	padding-top: 1em;
	overflow-x: hidden;
}

div.result div.container {
	border-top: 1px solid #d2d2d2;
	padding-right: 0.4em;
}

div.result div.last {
	border-bottom: 1px solid #d2d2d2;
}

div.result img {
	display: none;
}

div.title {
	font-size: 1em;
	padding: 0.5em 0 0 0.5em;
}

div.preview {
	padding: 0.3em 0.1em 0.6em 0.7em;
	font-size: 0.8em;
	color: #5c5c5c;
}

span.keyword {
	font-weight: bold;
	background-color: #fff9cf;
}

/***
*Notes-specific styles
*/

div.tabs ul.notes {
	width: 240px;
}

div.tabs ul.notes li a {
	display: block;
	padding: 0 6px;
}

div.tabs ul.notes li a.selected,
div.tabs ul.notes li a {
	height: auto;
	padding: 9px 10px;
}

div.message {
	background: url(images/arrow.png) no-repeat center right;
	border-bottom: 1px solid #d2d2d2;
	padding: 0.6em 0.8em;
}

div.from {
	font-weight: bold;
	padding-bottom: 0.2em;
}

div.date {
	float: right;
	font-size: 0.8em;
	color: #5c5c5c;
	padding-right: 1.8em;
}

div.subject {
	font-size: 0.8em;
}

div.line1 {
	font-size: 0.9em;
	color: #5c5c5c;
}

div.js-main div.view {
	padding: 0 0 0.5em 0.5em;
}

div.view div.compose {
	padding-top: 0.5em;
	border-top: 1px solid #e5e5e5;
}

div.compose form {
	color: #545454;
	margin-left: 0.5em;
}

div.compose p {
	font-size: 0.9em;
	color: #454545;
}

input.to,
div.compose textarea {
	padding: 0.5em 0.4em 0.2em 0.4em;
	margin: 0.3em 0 0.6em 0;
	border-color: #8a8a8a;
	width: 90%;
}

div.compose textarea {
	height: 100px;
	margin-bottom: 0;
}

div.tagging textarea {
	width: 95%;
	height: 8em;
	padding: 0.4em 0.2em;
	margin-top: 0.3em;
	border-color: #8a8a8a;
}

div.compose button,
div.tagging button {
	float: left;
	background: url(images/gray-bg.png) repeat-x center center;
	border: 1px solid #c4c4c4;
	height: 30px;
	margin: 0.8em 0 0 0;
	font-size: 1em;
	-webkit-border-radius: 5px;
}

div.compose button {
	margin-bottom: 1em;
}

div.reply {
	padding-left: 0.5em;
}

div.text {
	padding-bottom: 1em;
}

div.input {
	border-top: 1px solid #454545;
	padding-top: 1em;
}

/***
 *No content
 */

div.no-files,
div.no-notes {
	padding-top: 0.4em;
	text-align: center;
	font-style: italic;
	color: #8d8d8d;
}

div.no-tags,
div.no-pages {
	padding-left: 1em;
	font-style: italic;
	color: #8d8d8d;
}