div.subnav {
	overflow: hidden;
	padding: 0.2em 0 0 0.4em;
}

div.subnav a {
	color: #fff;
	text-decoration: none;
	float: left;
	padding-top: 0.5em;
}

div.subnav div.cancel {
	padding: 0.2em 0 0 2.5em;
}

div.subnav div.send {
	padding: 0 2em 0 0;
}

div.subnav div.send a {
	color: #000;
	float: right;
	background: url(images/selected.png) no-repeat center center;
	width: 84px;
	height: 30px;
	text-align: center;
	padding-top: 0.6em;
}

form {
	padding: 1em 0 0 0.6em;
	color: #545454;
}

input.to,
input.subject {
	padding: 0.5em 0.4em 0.2em 0.4em;
	margin: 0.3em 0 0.6em 0;
	border-color: #8a8a8a;
}

input.to {
	width: 92%;
}

input.subject {
	width: 92%;
}

textarea {
	width: 94%;
	height: 8em;
	padding: 0.4em 0.2em;
	margin-top: 0.3em;
	border-color: #8a8a8a;
}
