html {
	background: #b8b8b8 url(images/bg.png);
}

div.logo {
	padding-top: 1em;
}

div.login {
	padding: 0.8em 0 0 1em;
}

div.label {
	font-size: 1.2em;
}

input.input {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0.1em solid #929292;
	padding: 0.4em;
	width: 92%;
	margin: 0.2em 0 1.2em 0;
}

select {
	width: 95%;
	font-size: 16px;
	margin-bottom: 0.5em;
}

button.login {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 83%;
	padding: 0.4em;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
	margin: 1em 0;
	background: #9d0303 url(images/bg-button.png) repeat-x;
}
