/*
--Table Of Contents

1.0 - Skinning Variables

2.0 - HTML elements
	2.1 - Structure
	2.2 - Links
	2.3 - Forms / Buttons

3.0 - Fiesta Global Elements
	3.1 - Tables
	3.2 - Dialogs
	3.3 - Pagination
	3.4 - Unsafe Content Notification
	3.5 - Diff Comparison
	
4.0 - Fiesta Unique Elements
	4.1 - Header
		4.1.1 - Common 
		4.1.2 - Mast
		4.1.3 - SiteNav
			4.1.3.1 - SiteNavTree
			
	4.2 - Body
		4.2.1 - Common 
		4.2.2 - SiteNav
		4.2.3 - PageBar
			4.2.3.1 - PageSubNav
			4.2.3.2 - Current
		4.2.4 - Page Alerts
		4.2.5 - PageInfo
			4.2.5.1 - Tags
			4.2.5.2 - Languages
			4.2.5.3 - File Attachments
			4.2.5.4 - Images
			4.2.5.5 - Comments
		4.2.6 - Drop Down Menus
		4.2.7 - Notifications
		4.2.8 - Special - handled separately after 9.02
		4.2.9 - Admin - handled separately after 8.08
		
5.0 - Internet Explorer 6 CSS
	5.1 - HTML elements
		5.1.1 - Structure
		5.1.2 - Links
		5.1.3 - Forms
	
	5.2 - Fiesta Global Elements
		5.2.1 - Tables
		
	5.3 - Fiesta Unique Elements
		5.3.1 - Header
			5.3.1.1 - Common 
			5.3.1.2 - Mast
			5.3.1.3 - SiteNav
				5.3.1.3.1 - SiteNavTree
				
		5.3.2 - Body
			5.3.2.1 - Common 
			5.3.2.2 - SiteNav
			5.3.2.3 - PageBar
			5.3.2.4 - Page Alerts
			5.3.2.5 - PageInfo
			5.3.2.6 - Dropdown Menus
			5.3.2.7 - Notifications
			5.3.2.8 - Special
			5.3.2.9 - Admin - handled separately after 8.08


*/

/*-------------------------------------------------------------------
1.0 Skinning Variables
---------------------------------------------------------------------*/
@variables {  
    headersection_bg: #ffffff; 
} 

/*-------------------------------------------------------------------
2.0 HTML elements
---------------------------------------------------------------------*/

/*---- 2.1  Header*/

/*---- 2.2  Links*/

a.link-mailto,
a.link-ftp,
a.link-irc,
a.external {
	background-repeat: no-repeat;
	background-position: left center;
}
a.link-mailto {
	background-image: url(../icon_grid_16.gif);
	background-position: 0px -100px;	
}
a.link-ftp {
	background-image: url(../icon_grid_16.gif);
	background-position: 0px -40px;		
}
a.link-irc {
	background-image: url(../icon_grid_16.gif);
	background-position: 0px -20px;		
}
a.external {
	background-image: url(../icon_external.gif);
	background-position: top right;
}
/*---- 2.3  Forms / Buttons */

input[type=text] ,
input[type=password] ,
textarea {
	background-image: url(../input_bg.png);
	background-repeat: repeat-x;
	color:#333;
	border:1px solid #999999;
}
.button, button, input.historysubmit, input[type=submit], input[type=button], input[type=file] {
	border:0px;
	background:transparent;
	background-image: url(buttons.png);
	background-position: -520px 0px;
}
.yui-dialog button {
	border:0px;
	background: none;
}
/*-------------------------------------------------------------------
3.0 Fiesta Global Elements
---------------------------------------------------------------------*/
.MindTouch {
	text-align:right;
}
.MindTouch a {
	color:#fff;
	text-decoration:underline;
}
.MindTouch a:hover {
	color:#000;	
}
.MindTouch div.poweredBy {
	color:#fff;
}

/*---- 3.1  Tables*/
table.table tr.show-no td {
	border:0px;
}
table.table tr td,
.table table tr td,
.atable table td {
	border-top:1px dotted #b8d6de;
}
/*---- 3.2 Dialogs*/

#mt-dialog button {
	font-size:11px;
}
/*---- 3.3 Pagination*/
.pagination {
	font-size: 11px;
	color: #888;
}
.pagination span.prev {
	background: url(/skins/common/icons/arrow-l.gif) no-repeat center left; 
}
.pagination span.next {
	background: url(/skins/common/icons/arrow-r.gif) no-repeat center right; 
}
.pagination span.info {
	font-weight: bold;
	color: #333;
	font-size: 12px;
}
/*---- 3.4 Unsafe Content Notification*/
.deki-unsafe-alert {
	font-size:11px;
	border:1px solid #ccc;
	background:#F4F4F4;
	color:#666;	
}
/*---- 3.4 Diff Comparison*/
.deki-diff #deki-diffbefore {
	border-right:1px dotted #ccc;	
}
.deki-diff #deki-diffcombined {
	border-bottom:1px dotted #ccc;	
}
/*-------------------------------------------------------------------
4.0 Fiesta Unique Elements
---------------------------------------------------------------------*/

/*---- 4.1  Header*/

/*---- ---- 4.1.1  Common*/
.mastPre,
.userAuthPre,
.navPre {
	background-image: url(side_pre.png);
}
.mastPost,
.userAuthPost,
.navPost {
	background-image: url(../side_post.png);
}

/*---- ---- 4.1.2  Mast*/
.header .mast {
	background: var(headersection_bg);
}

/*---- ---- 4.1.3  SiteNav*/
body#loggedin .header .userAuth {
	background-image:none;
}
.header .userAuth {
	background-color: var(headersection_bg);
	background-repeat: no-repeat;
	background-image: url(../icon_userauth.png);
}
.header div.userAuth a.userPage {
	color:#333;
	background-image: url(../icon_userauth.png);
	background-repeat: no-repeat;
}
.header .userRegister a, .header .userAuth a.userLogout, .header .userAuth a.userLogin {
	background-image: url(buttons.png);
	background-position: -180px 0px;
	text-decoration:none;
	font-weight:bold;
	text-transform:lowercase;
	cursor:pointer;
	vertical-align:middle;
}
.header .userRegister {
	background-color:#fff;	
}
/*---- ---- --- 4.1.3.1  SiteNav*/
#siteNavTree {
	background-color:#fff;
}
#siteNavTree div.childNode,
#siteNavTree div.selectedChild {
	background-image: url(nav_selectedchild.gif);
}
#siteNavTree div.sibling,
#siteNavTree div.dockedNode {
	background-image: url(nav_childnode.gif);	
}
#siteNavTree div.selected {
	background-image: url(nav_selected.gif);
}
#siteNavTree div.parentOpen a span {
	background-image: url(../parent_open.gif);
	background-repeat: no-repeat;
}
#siteNavTree div.dockedNode {
	background-image: url(nav_last_docked.gif);	
}
#siteNavTree div.parentClosed a span {
	background-image: url(../parent_closed.gif);
	background-repeat: no-repeat;
}
#siteNavTree div.dockedNode a span{
	background-image: url(../parent_open.gif);
	background-repeat: no-repeat;
}
#siteNavTree div.homeNode a span {
	background-image:none;
}
#siteNavTree div.homeNode {
	background: #fff;	
}
#siteNavTree div.homeNode:hover {
	background-image: url(nav_home_selected_bg.gif);
}

#siteNavTree div.homeSelected {
	background-image: url(nav_home_selected_bg.gif);
}
/*---- 4.2  Body*/

/*---- ---- 4.2.1  Common*/
.pageStatus,
.pageRevision,
#pageToc div.pageToc {
	font-size:11px;
}
.body .bodyHeader .pre {
	background-image: url(page_header_pre.png);	
}
.body .bodyHeader .post {
	background-image: url(page_header_post.png);
	background-repeat:no-repeat;
	background-position:right;
}
.body .bodyFooter .pre {
	background-image: url(../page_footer_pre.png);	
}
.body .bodyFooter .post {
	background-image: url(../page_footer_post.png);	
	background-position:right;
}
.extensionlist {
	background-color: #f4f4f4;
	border:1px solid #ccc;
	border-top:0px;
	font-size:11px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
}
.extensionlist a {
	background-image: url(../icon_grid_16.gif);
	background-position: 0px 0px;
	background-repeat: none;
	background-position: 5px 5px;
	background-repeat:no-repeat;
	font-size:12px;
}
h1#title span.pageRestricted {
	background-image: url(../icon_page_restricted.gif);
	background-position: right center;
	background-repeat: no-repeat;
}
a.pageMoved {
	background-color: #fafafa;
	background-repeat: no-repeat;
	border:1px solid #ccc;
	background-position: 3px -157px;
	background-image: url(../icon_grid_16.gif);	
}

/*---- ---- 4.2.2  SiteNav*/
.body .siteSearch {
	background-position:right;
	background-repeat:no-repeat;
	background-image: url(sitenav_post.gif);
}
.body .siteSearch #searchInput {
	color: var(button_color);
	border:1px solid #999999;
}

.body .siteSearch input.inputSubmit {
	background-image: url(buttons.png);
	background-position: -80px 0px;
}
.body .siteNav {
	background-image: url(sitenav_bg.gif);
	background-repeat: repeat-x;
}
.body .siteNav a {
	color:#666;
	border-top: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
}
.body .siteNav li.siteTools a {
	background-image: url(../dropdown_arrow.gif);
	background-repeat:no-repeat;
	background-position: center right;
}
.body .siteNav a:hover {
	background-color:#f5f5f5;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
}
.body .siteNav .pre {
	background-image: url(sitenav_pre.gif);
}
/*---- ---- 4.2.3  PageBar*/
.pageBar ul li.navSplit {
	background-image: url(../icon_separator.png);
}
.body .pageBar {
	background-image: url(pagebar_bg.gif);
}
.body .pageBar .pre {
	background-image: url(pagebar_pre.gif);	
}
.pageBar .pageRevision {
	background-image: url(revision_bg.gif);
}
.body .pageBar ul li.pageEdit a {
	background-image: url(../icon_grid_40.png);
	background-position: center 0px ;
	background-repeat: no-repeat;
}
.body .pageBar ul li.pageEdit a.disabled {
	background-position: center -70px;
}
.body .pageBar ul li.pageAdd a {
	background-image: url(../icon_grid_40.png);
	background-position: center -140px ;
	background-repeat: no-repeat;
}
.body .pageBar ul li.pageAdd a.disabled {
	background-position: center -210px;
}
.body .pageBar ul li.pagePrint a {
	background-image: url(../icon_grid_40.png);
	background-position: center -280px ;
	background-repeat: no-repeat;
}
.body .pageBar ul li.pagePrint a.disabled {
	background-position: center -350px;
}
.body .pageBar ul li.pageToc a {
	background-image: url(../icon_grid_40.png);
	background-position: center -560px ;
	background-repeat: no-repeat;
}
.body .pageBar ul li.pageToc a.disabled {
	background-position:center -630px;	
}
.body .pageBar ul li a.disabled,
.body .pageBar ul li a.disabled:hover {
	background-color:transparent;
}
.body .pageBar ul li.pageMore a {
	background-position: bottom right;
	background-repeat: no-repeat;
}
/*---- ---- --- 4.2.3.1  PageSubNav*/
.deki-page-subnav {
	background-color:#efefef;
	border:1px solid #E6E6E6;
	border-top:0px;
	font-size:12px;	
	font-weight:bold;
}
.deki-page-subnav a {
	text-decoration:none;
	font-weight:100;
	float:left;
}
.deki-page-subnav .deki-rc-feeds {
	background-color:#e6e6e6;
	-moz-border-radius-bottomright:5px;
	background-image:url(../subnav_bg.gif);
	background-repeat:no-repeat;
	background-position:left center;
}

.deki-page-subnav .deki-rc-feeds a {
	background-image:url(../../common/icons/silk/feed.png);	
	background-position:left center;
	background-repeat:no-repeat;
	color:#333;
}

.deki-page-subnav a:hover {
	text-decoration:underline;	
}
/*---- ---- --- 4.2.3.2  Current*/

/*---- ---- 4.2.4  Page Alerts*/
#deki-page-alerts div.toggle {
	border:1px solid #ccc;
	background:#F9F9F9;	
}
#deki-page-alerts div.toggle a {
	color:#333;	
	font-size:11px;
	font-weight:100;
}
#deki-page-alerts div.toggle a:hover {
	text-decoration:underline;	
}

/*---- ---- 4.2.5  PageInfo*/
.pageInfo,
.gallery,
.file,
#comments {
	background-image: url(pageinfo_bg.gif);
	background-repeat: repeat-x;
}

/*---- ---- ---- 4.2.5.1  Tags*/
#deki-page-tags .col3 {
	text-align:right;	
}

#deki-page-tags .tagData span {
	padding-left:5px;
	font-size:10px;
	color:#999;	
}

#deki-page-tags input.tagAdd {
	background-image: url(buttons.png);
	background-position:-180px 0;
	padding-left:0;
	width:70px;	
}

/*---- ---- ---- 4.2.5.2  Languages*/

/*---- ---- ---- 4.2.5.3  File Attachments*/
.fileAdd a {
	background-image: url(buttons.png);
	background-position: -520px 0px;
}
.fileAdd a.disabled {
	background-image: url(buttons.png);
	background-position: -650px 0px;
	color: #999;
}
.fileList a.downarrow {
	background-image: url(../action-open.gif);
	background-position: right center;
	background-repeat: no-repeat;
}
/*---- ---- ---- 4.2.5.4  Images*/
#pageGallery a.actionmenu {
	background-image: url(../action-open.gif);
	background-position: right center;
	background-repeat: no-repeat;
	
}
/*---- ---- ---- 4.2.5.5  Comments*/
#comments div.comments div.comment form a {
	background-image: url(buttons.png);
	background-position: -320px 0px;
}
#comments .commentActions a {
	background-image: url(../icon_grid_16.gif);
	background-position: 0px -60px;	
	background-repeat: no-repeat;
}
#comments .commentActions input.commentDelete {
	background-image: url(../icon_grid_16.gif);
	background-position: 0px -80px;	
	background-repeat: no-repeat;
}
#comments div.comments span.commentUpdated {
	color:#666;
	font-size:11px;	
	background-image: url(../icon_grid_16.gif);
	background-repeat: no-repeat;
	background-position:0px -140px;	
}
input.commentSubmit {
	background-image: url(buttons.png);
	background-position: -320px 0px;
}
/*---- ---- 4.2.6  Dropdown Menus*/

#menuPageContent .pageToc,
#menuPageOptions {
	background-repeat: repeat-x;
	border-top:0px;
}
#menuPageContent .pageToc ol li a,
#menuPageOptions ul li a {
	color:#333;
}
#menuPageContent .pageToc ol li a.disabled,
#menuPageOptions ul li a.disabled {
	color:#999;
}
#menuPageOptions ul li:hover {
	background-image: url(tools_menu_bg_hover.gif);
}
#menuPageContent .pageToc ol li.disabled:hover,
#menuPageOptions ul li.disabled:hover {
	background-image: none;
}
#menuPageOptions ul li.pageRestrict a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -270px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pageAttach a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -300px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pageMove a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -330px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pageDelete a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -360px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pageTags a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -390px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pageWatch a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -420px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pageEmail a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -450px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pageProperties a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -480px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pageTalk a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -510px;
	background-repeat:no-repeat;
}
#menuPageOptions ul li.pagePdf a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -570px;
	background-repeat:no-repeat;
}
#menuTools {
	background-repeat: repeat-x;
	border-top:0px !important;
}
#menuTools ul li a {
	color:#333;
}
#menuTools ul li a.disabled {
	color:#999;	
}
#menuTools ul li:hover {
	background-image: url(tools_menu_bg_hover.gif);
}
#menuTools ul li.siteWatchedpages a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left 0px;
	background-repeat:no-repeat;
}
#menuTools ul li.siteContributions a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -30px;
	background-repeat:no-repeat;
}
#menuTools ul li.sitePreferences a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -60px;
	background-repeat:no-repeat;
}
#menuTools ul li.siteListRss a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -90px;
	background-repeat:no-repeat;
}
#menuTools ul li.siteListusers a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -120px;
	background-repeat:no-repeat;
}
#menuTools ul li.siteListTemplates a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -150px;
	background-repeat:no-repeat;
}
#menuTools ul li.siteSitemap a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -180px;
	background-repeat:no-repeat;
}
#menuTools ul li.sitePopularpages a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -210px;
	background-repeat:no-repeat;
}
#menuTools ul li.deki-desktop-suite a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -540px;
	background-repeat:no-repeat;
}
#menuTools ul li.siteAbout a {
	background-image: url(../icon_grid_dropdown.png);
	background-position: left -240px;
	background-repeat:no-repeat;	
}
#menuFiller div.dmenu-wrap {

	background-repeat: repeat-x;
}
#menuFiller div.dmenu ul li a {
	color:#333;
}
#menuFiller div.dmenu ul li a.disabled {
	color:#999;
}
#menuFiller ul li:hover {
	background-image: url(tools_menu_bg_hover.gif);
}
#menuFiller ul li.disabled:hover {
	background: none;
	background-image:none;
}
/*---- ---- 4.2.7  Notifications*/
.successmsg div.inner {
	background-image: url(/skins/common/icons/icon-32-success.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-x-position: 4px;
	background-y-position: 0px;
}
.upgrade,
.successmsg,
.errormsg,
.systemmsg,
.contentUndelete {
	border:1px solid #f2f26f;
	background-image: url(../message_bg.gif);
	background-repeat:repeat-x;
	background-color:#ffffc9;
}
.upgrade div.inner,
.successmsg div.inner,
.systemmsg div.inner,
.errormsg div.inner,
.contentUndelete span.subpages {
	background-repeat: no-repeat;
	border:1px solid #fff;
	background-position: 7px;
}
.upgrade div.inner,
.contentUndelete span.subpages,
.errormsg div.inner {
	background-image: url(/skins/common/icons/icon-32-error.gif);
}
.searchmsg div.inner {
	background-image: url(../icon_search.png);	
}
/*---- ---- 4.2.8  Special - handled separately after 9.02*/
#pageTypeSpecial .deki-parsed-query {
	font-size:11px;
	border:1px solid #ccc;
	background:#F4F4F4;
	color:#666;	
		
}
/*---- ---- 4.2.9  Admin - handled separately after 8.08*/

/*-------------------------------------------------------------------
5.0 Internet Explorer 6 CSS
---------------------------------------------------------------------*/

/*---- 5.1  HTML elements*/

/*---- --- 5.1.1  Structure*/

/*---- --- 5.1.2  Links*/

/*---- --- 5.1.3  Forms*/

/*---- 5.2  Fiesta Global Elements*/

* html body #pageText {
  min-height:300px;
  height:auto !important;
  height:300px;	
}

/*---- --- 5.2.1  Tables*/

/*---- 5.3  Fiesta Unique Elements*/

/*---- --- 5.3.1  Header*/

/*---- --- --- 5.3.1.1  Common*/

/*---- --- --- 5.3.1.2  Mast*/

/*---- --- --- 5.3.1.3  SiteNav*/

* html body .header .siteNav .userRegister {
	background-color:#fff;
}

* html body .header .userAuth a.userPage {
	background-image: url(../icon_userauth.gif);
	background-position:0px 0px;
}

* html body .header .userAuth {
	background-image: url(../icon_userauth.gif);
	background-position:0px 0px;
}
/*---- --- --- ---- 5.3.1.3.1  SiteNavTree*/

/*---- --- 5.3.2  Body*/

/*---- --- --- 5.3.2.1  Common*/
* html body .header .mastPost,
* html body .header .userAuthPost,
* html body .header .navPost {
	background-image: url(../side_post.gif);
}
* html body .header .mastPre, 
* html body .header .userAuthPre, 
* html body .header .navPre  {
	background-image: url(side_pre.gif);
}
* html body .body .bodyHeader div.pre {
	background-image: url(page_header_pre.gif);
}
* html body .body .bodyHeader div.post {
	background: url(page_header_post.gif);
}
* html body .body .bodyFooter div.pre {
	background-image: url(../page_footer_pre.gif);
}
* html body .body .bodyFooter div.post {
	background-image: url(../page_footer_post.gif);
}
/*---- --- --- 5.3.2.2  SiteNav*/
* html body .body .siteNav .siteSearch {
	background-position: right 0px;
	height:100%;
}
*html body .body .siteNav ul li a  {
	border-color:#C6C6C6 #fff;
	border-right:0px;
	border-left:0px;
}
* html body .body .siteNav ul li a:hover {
	border-right:1px solid #C6C6C6;
	border-left:1px solid #C6C6C6;
}
/*---- --- --- 5.3.2.3  PageBar*/

* html body .body .pageBar ul li a.disabled,
* html body .body .pageBar ul li a.disabled:hover {
	background-color:transparent;
}
* html body .body .pageBar ul li.navSplit {
	background-image: url(../icon_separator.gif);
}
* html body .body .pageBar ul li.pageEdit a {
	background-image: url(../icon_edit_page.gif);
	background-position: center top;
}
* html body .body .pageBar ul li.pageEdit a.disabled {
	background-image:url(../icon_edit_page_disabled.gif);
	background-position: center top;
}
* html body .body .pageBar ul li.pageAdd a {
	background-image: url(../icon_create_page.gif);
	background-position: center top;
}
* html body .body .pageBar ul li.pageAdd a.disabled {
	background-image:url(../icon_create_page_disabled.gif);
	background-position: center top;
}
* html body .body .pageBar ul li.pagePrint a {
	background-image: url(../icon_printer.gif);
	background-position: center top;
}
* html body .body .pageBar ul li.pagePrint a.disabled {
	background-image:url(../icon_printer_disabled.gif);
	background-position: center top;
}
* html body .body .pageBar ul li.pageToc a {
	background-image: url(../icon_page_toc.gif);
	background-position: center top;
}
* html body .body .pageBar ul li.pageToc a.disabled {
	background-image:url(../icon_page_toc_disabled.gif);
	background-position: center top;
}
* html body .body .pageBar ul li.pageMore a {
	background-position:right 43px;
}
/*--- ---- --- 5.3.2.4 Page Alerts */

/*---- --- --- 5.3.2.5  PageInfo*/
* html body #pageGallery div.galleryCell div.desctext a.actionmenu {
	background-image:url(../action-open.gif);
}
/*---- --- --- 5.3.2.6  Dropdown Menus*/
* html body #menuPageOptions ul li a:hover {
	background-color:#f5f6f5;
}
* html body #menuPageOptions ul li a.disabled,
* html body #menuPageOptions ul li a.disabled:hover {
	color:#999;
	background-color: transparent;
}
* html body #menuTools ul li a:hover {
	background-color:#f5f6f5;
}
* html body #menuTools ul li a.disabled,
* html body #menuTools ul li a.disabled:hover {
	background-color: transparent;
	background:none;
}
* html body #menuFiller div.dmenu ul li a:hover {
	background-color:#f5f6f5;
}
* html body #menuFiller div.dmenu ul li a.disabled:hover {
	background-color:transparent;
}
/*---- --- --- 5.3.2.6  Notifications*/
* div.searchmsg div.inner {
	background-image: url(../icon_search.gif);	
}
/*---- --- --- 5.3.2.7  Special*/

/*---- --- --- 5.3.2.9  Admin - handled separately after 8.08*/